<div style="text-align: center"><b>MESAFELİ SATIŞ SÖZLEŞMESİ (TAŞER Züccaciye A.Ş)</b></div>
<b>1. TARAFLAR</b>
<br />
<br />
İşbu Mesafeli Satış Sözleşmesi ("Sözleşme"); adresi 7. maddede belirtilen ("ALICI”) ile adresi 6.
Maddede belirtilen (“SATICI”) arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde elektronik
ortamda kurulmuştur.
<br />
<br />
<b>2. TANIMLAR</b>
<br />
<br />
İşbu sözleşmenin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler karşılarındaki yazılı
açıklamaları ifade edeceklerdir.
<table class="normal-table">
  <tr>
    <td>ALICI</td>
    <td>:</td>
    <td>
      Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan veya yararlanan
      gerçek ya da tüzel kişiyi,
    </td>
  </tr>
  <tr>
    <td>Bakan</td>
    <td>:</td>
    <td>Ticaret Bakanı’nı,</td>
  </tr>
  <tr>
    <td>Bakanlık</td>
    <td>:</td>
    <td>Ticaret Bakanlığı’nı,</td>
  </tr>
  <tr>
    <td>TAŞER</td>
    <td>:</td>
    <td>Bu platformda satış yapan TAŞER Züccaciye</td>
  </tr>
  <tr>
    <td>Hizmet</td>
    <td>:</td>
    <td>
      Bir ücret veya menfaat karşılığında yapılan ya da yapılması taahhüt edilen mal sağlama
      dışındaki her türlü tüketici işleminin konusu,
    </td>
  </tr>
  <tr>
    <td>Kanun</td>
    <td>:</td>
    <td>6502 Sayılı Tüketicinin Korunması Hakkında Kanun’u,</td>
  </tr>
  <tr>
    <td>Platform</td>
    <td>:</td>
    <td>TAŞER Züccaciye'ye ait www.taşer.com adlı internet sitesini,</td>
  </tr>
  <tr>
    <td>SATICI</td>
    <td>:</td>
    <td>
      Kamu tüzel kişileri de dahil olmak üzere ticari veya mesleki amaçlarla tüketiciye mal sunan ya
      da mal sunanın adına ya da hesabına hareket eden ve Sözleşme’nin 6. maddesinde bilgileri
      bulunan gerçek ve/veya tüzel kişiyi,
    </td>
  </tr>
  <tr>
    <td>Sipariş Veren</td>
    <td>:</td>
    <td>
      Bir mal veya hizmeti TAŞER Züccaciye'ye ait www.taşer.com adlı internet sitesi üzerinden talep
      eden gerçek ya da tüzel kişiyi,
    </td>
  </tr>
  <tr>
    <td>Sözleşme</td>
    <td>:</td>
    <td>SATICI ve ALICI arasında akdedilen işbu Sözleşme’yi,</td>
  </tr>
  <tr>
    <td>Taraflar</td>
    <td>:</td>
    <td>SATICI ve ALICI’yı,</td>
  </tr>
  <tr>
    <td>Ürün veya Ürünler</td>
    <td>:</td>
    <td>
      Alışverişe konu olan taşınır eşya, konut veya tatil amaçlı taşınmaz mallar ile elektronik
      ortamda kullanılmak üzere hazırlanan yazılım, ses, görüntü ve benzeri her türlü ürünleri,
      ifade eder
    </td>
  </tr>
  <tr>
    <td>Yönetmelik</td>
    <td>:</td>
    <td>Mesafeli Satışlar Yönetmeliği’ni,</td>
  </tr>
  <tr>
    <td>Mücbir Sebep</td>
    <td>:</td>
    <td>
      Nakliyeyi engelleyen hava muhalefetleri, ulaşım kesintisi, altyapı ve internet arızaları,
      yangın, deprem, sel baskını, diğer doğal afetler ile salgın hastalık gibi olağanüstü olayları,
      kargaşa, yaygın şiddet hareketleri, grev veya resmi makamların düzenlemeleri dahil ancak
      bunlarla sınırlı olmaksızın Taraflar’ın yükümlülüklerini yerine getirmesini objektif olarak
      engelleyebilecek veya geciktirebilecek nitelikteki durumlar.
    </td>
  </tr>
</table>
<br />
<br />
<b>3. SÖZLEŞMENİN KONUSU ve KAPSAMI</b>
<br />
<br />
İşbu Sözleşme 6502 Sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler
Yönetmeliği'ne uygun olarak düzenlenmiştir. Taraflar işbu Sözleşme tahtında 6502 Sayılı Tüketicinin
Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği'nden kaynaklanan yükümlülük ve
sorumluluklarını bildiklerini ve anladıklarını kabul ve beyan ederler. İşbu Sözleşmenin konusunu
gerçek kişi ALICI'nın, TAŞER'e ait Platform’da, TAŞER'e ait Mal/Hizmetin satın alınmasına yönelik
elektronik olarak sipariş verdiği, Sözleşme’de belirtilen niteliklere sahip Mal/Hizmetin satışı ve
teslimi ile ilgili olarak 6502 Sayılı Tüketicinin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler
Yönetmeliği hükümleri gereğince Taraflar’ın hak ve yükümlülüklerinin saptanması oluşturur.
<br />
<br />
<b>4. ALICI’NIN ÖNCEDEN BİLGİLENDİRİLDİĞİ HUSUSLAR</b>
<br />
<br />
<b>4.1.</b> ALICI, aşağıdaki hususlarda, bu Sözleşme'nin ALICI tarafından Platform’dan kabulü ile
kurulmasından ve gerek siparişi gerek ödeme yükümlülüğü altına girmesinden önce Platform’un ilgili
sayfaları-kısımlarındaki tüm genel-özel açıklamaları incelediğini, okuduğunu, anladığını ve
kendisine gerekli bilgilendirmenin yapıldığını kabul eder.
<br />
<b>a) </b>SATICI'nın unvanı ve iletişim bilgileri ile güncel tanıtıcı bilgileri,
<br />
<b>b) </b>Ürünler'in Platform’dan alınması sırasındaki satış işlemi aşamaları ile yanlış girilen
bilgilerin düzeltilmesine ilişkin amaca uygun araçlar-yöntemler,
<br />
<b>c) </b>SATICI'nın mensubu olduğu Meslek Odası (İTO-İstanbul Ticaret Odası) ve ITO'nun meslek ile
ilgili öngördüğü davranış kuralları bilgisinin edinebileceği elektronik iletişim bilgileri (Telefon:
444 0 486, www.ito.org.tr)
<br />
<b>d) </b>TAŞER tarafından uygulanan ALICI bilgileri için geçerli gizlilik, veri kullanımı-işleme ve
ALICI’ya elektronik iletişim kuralları ile ALICI’nın bu hususlarda TAŞER’e verdiği izinler,
ALICI’nın kanuni hakları, SATICI’nın hakları ve Taraflar’ın haklarını kullanım usulleri,
<br />
<b>e) </b>Ürünler için SATICI tarafından öngörülen gönderim kısıtlamaları,
<br />
<b>f) </b>Sözleşme konusu Ürünler için TAŞER tarafından kabul edilen ödeme yöntem-araçları ile
Ürünler'in temel özellik-nitelikleri, vergiler dahil toplam fiyatı (ilgili masraflar da dahil olmak
üzere ALICI’nın SATICI'ya ödeyeceği toplam bedel),
<br />
<b>g) </b>Ürünler'in ALICI’ya teslimine ilişkin usuller ile nakliye-teslim-kargo masrafları hakkında
bilgiler,
<br />
<b>h) </b>Ürünler ile ilgili diğer ödeme/tahsilat ve teslimat bilgileri ile Sözleşme'nin ifasına
ilişkin bilgiler, bu hususlarda Taraflar’ın sorumlulukları,
<br />
<b>i) </b>ALICI’nın cayma hakkına sahip olmadığı Ürünler ve diğer mal-hizmetler,
<br />
<b>j) </b>ALICI’nın cayma hakkının olduğu durumlarda bu hakkını kullanma şartları, süresi ve usulü
ile hakkın süresinde kullanılmaması durumunda ALICI’nın cayma hakkını kaybedeceği,
<br />
<b>k) </b>Cayma hakkı olan Ürünler'de, Ürün cayma süresi içinde kullanım talimatlarına, olağan
işleyişine veya teknik özelliklerine uygun kullanılmamasından ötürü bozulduğu veya bir değişikliğe
uğradığı takdirde ALICI’nın cayma talebinin kabul edilmeyebileceği ve her durumda SATICI'ya karşı
sorumlu olacağı, SATICI'nın kabul ettiği hallerde söz konusu bozukluğa veya değişime göre uygun
bulduğu bir tutarı ALICI’ya yapacağı geri ödemeden mahsup edebileceği,
<br />
<b>l) </b>Cayma hakkının bulunduğu durumlarda Ürünleri SATICI'ya ne şekilde iade edebileceği ve
ilgili tüm mali hususlar (iade yolları, masrafı ve Ürün bedelinin iadesi ve iade sırasında, ALICI
tarafından kazanılmış/kullanılmış ödül puanları için yapılabilecek indirim ve mahsuplar dahil),
<br />
<b>m) </b>ALICI’nın Platform’da dönem dönem uygulanabilecek çeşitli fırsatlara ilişkin yararlanma
koşullarının (özel şartlar) detaylarını,
<br />
<b>n) </b>Mahiyetine göre bu Sözleşme'de de yer alan diğer tüm satış şartları ile işbu Sözleşme
ALICI tarafından Platform’da onaylanarak kurulduktan sonra ALICI’ya elektronik posta ile
gönderildiğinden ALICI tarafından istenen süre ile saklanıp buradan erişilebileceği
<!-- , TAŞER’in de üç
  yıl süre ile nezdinde saklayabileceği. -->
<br />
<b>o) </b>Uyuşmazlık hallerinde ALICI’nın SATICI’ya şikayetlerini iletebileceği iletişim bilgileri
ile yasal başvurularını, 6502 Sayılı Kanun'un ilgili hükümlerine uygun olarak İlçe/İl Hakem
Heyetlerine ve Tüketici Mahkemeleri'ne yapabileceği. <br />
<br />
<b>4. SATICI BİLGİLERİ</b>
<br />
<br />
<table class="normal-table">
  <tr>
    <td>Satıcı İsim/Unvanı</td>
    <td>:</td>
    <td>TAŞER Züccaciye</td>
  </tr>
  <tr>
    <td>Satıcının Açık Adresi</td>
    <td>:</td>
    <td>Osmangazi Mahallesi Ahmet Yesevi caddesi no:20 ESENYURT</td>
  </tr>
  <tr>
    <td>Satıcının Telefonu</td>
    <td>:</td>
    <td>0216 235 23 15</td>
  </tr>
  <tr>
    <td>Satıcı Mersis No</td>
    <td>:</td>
    <td></td>
  </tr>
  <tr>
    <td>Satıcı E-Posta</td>
    <td>:</td>
    <td></td>
  </tr>
</table>
<br />
<br />
<b>5. ALICI BİLGİLERİ</b>
<br />
<br />
<table class="normal-table">
  <tr>
    <td>Teslim Edilecek Kişi</td>
    <td>:</td>
    <td>{{orderInfo.name}}</td>
  </tr>
  <tr>
    <td>Teslimat Adresi</td>
    <td>:</td>
    <td>{{orderInfo.address}}</td>
  </tr>
  <tr>
    <td>Telefon</td>
    <td>:</td>
    <td>{{orderInfo.tel.toString().substr(0,3)}}*****{{orderInfo.tel.toString().substr(8,2)}}</td>
  </tr>
  <tr>
    <td>Faks</td>
    <td>:</td>
    <td>{{orderInfo.tel.toString().substr(0,3)}}*****{{orderInfo.tel.toString().substr(8,2)}}</td>
  </tr>
  <tr>
    <td>E-posta</td>
    <td>:</td>
    <td>{{orderInfo.email}}</td>
  </tr>
</table>
<br />
<br />
<b>6. FATURA BİLGİLERİ</b>
<br />
<br />
<table class="normal-table">
  <tr>
    <td>Teslim Edilecek Kişi</td>
    <td>:</td>
    <td>{{orderInfo.name}}</td>
  </tr>
  <tr>
    <td>Teslimat Adresi</td>
    <td>:</td>
    <td>{{orderInfo.address}}</td>
  </tr>
  <tr>
    <td>Telefon</td>
    <td>:</td>
    <td>{{orderInfo.tel.toString().substr(0,3)}}*****{{orderInfo.tel.toString().substr(8,2)}}</td>
  </tr>
  <tr>
    <td>Faks</td>
    <td>:</td>
    <td>-</td>
  </tr>
  <tr>
    <td>E-posta</td>
    <td>:</td>
    <td>{{orderInfo.email}}</td>
  </tr>
</table>
<br />
Fatura Teslim: Fatura kalıcı veri saklayıcısı yoluyla veya diğer yollarla iletilecek ALICI’ya
iletilecektir.
<br />
<br />
<b>7. SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER BİLGİLERİ</b>
<br />
<br />
<b>7.1.</b> Malın/Ürün/Ürünlerin/Hizmetin temel özelliklerini (türü, miktarı, marka/modeli, adedi)
TAŞER Züccaciye’ye ait internet sitesinde yer almaktadır. Ürünün temel özellikleri hem ürünün
ilanının yer aldığı ilgili sayfada, sipariş detay sayfasında ve aşağıda yer almaktadır.
<br />
<b>7.2.</b> Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve
vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar
ise belirtilen süre sonuna kadar geçerlidir.
<br />
<b>7.3.</b> Sözleşme konusu mal ya da hizmetin tüm vergiler dâhil satış fiyatı aşağıdaki tabloda
gösterilmiştir.
<br />
<table class="price-table">
  <tr>
    <td>Ürün Açıklaması</td>
    <td>Adet</td>
    <td>Peşin Fiyatı</td>
    <td>Ara Toplam (KDV Dahil)</td>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{order.productName}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.price}} TL</td>
    <td>{{order.price * order.quantity | number : '.2-2'}} TL</td>
  </tr>
  <tr *ngFor="let order of orders">
    <td *ngIf="order.discountRate>0">%{{order.discountRate * 100 | number : '.0-0'}} indirim</td>
    <td *ngIf="order.discountRate>0">{{order.quantity}}</td>
    <td *ngIf="order.discountRate>0">{{order.price * order.discountRate | number : '.2-2'}} TL</td>
    <td *ngIf="order.discountRate>0">
      {{(order.price * order.discountRate) * order.quantity | number : '.2-2'}} TL
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Toplam</td>
    <td>{{totalCost}} TL</td>
  </tr>
</table>
<br />
<table class="normal-table">
  <tr>
    <td>Teslimat Adresi</td>
    <td>:</td>
    <td>{{orderInfo.address}}</td>
  </tr>
  <tr>
    <td>Teslim Edilecek Kişi</td>
    <td>:</td>
    <td>{{orderInfo.name}}</td>
  </tr>
  <tr>
    <td>Fatura Adresi</td>
    <td>:</td>
    <td>{{orderInfo.address}}</td>
  </tr>
  <tr>
    <td>Sipariş Tarihi</td>
    <td>:</td>
    <td>{{orderInfo.date | date}}</td>
  </tr>
  <tr>
    <td>Teslim Şekli</td>
    <td>:</td>
    <td>Alıcıya Teslim</td>
  </tr>
</table>
<br />
<b>7.4.</b> SÖZ KONUSU ÜRÜN BEDELİ, TAŞER TARAFINDAN ALICI’DAN TAHSİL EDİLMEKTEDİR. ALICI MALIN
BEDELİNİ TAŞER'E ÖDEMEKLE, ÜRÜN BEDELİNİ ÖDEMİŞ SAYILACAK VE BİR DAHA ÖDEME YÜKÜMLÜLÜĞÜ ALTINA
GİRMEYECEKTİR. ALICI’NIN İLGİLİ MEVZUAT KAPSAMINDA İADE HAKLARI SAKLIDIR.
<br />
<b>7.5.</b> ALICI Ambalaj Atıklarının Kontrolü Yönetmeliği’nin 5/1. Maddesinin n ve o fıkralarında;
“Plastik torbalar, 1/1/2019 tarihinden itibaren mesafeli sözleşmeler ile yapılan satışlar da dâhil
olmak üzere satış noktalarında kullanıcıya veya tüketiciye ücretsiz temin edilemez, ücretsiz
teminine imkan verecek herhangi bir promosyona veya kampanyaya dahil edilemez. Çok hafif plastik
torbalar, bu uygulamadan muaftır.” belirtildiği üzere siparişinin içeriğine göre kullanılacak olan
poşet miktarının toplam tutarının kendisinden tahsil edileceğini kabul ve taahhüt eder. <br />
<br />
<b>8. GENEL HÜKÜMLER</b>
<br />
<br />
<b>8.1.</b> ALICI, SATICI’ya ait internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış
fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup, bilgi sahibi olduğunu, elektronik
ortamda gerekli teyidi verdiğini kabul, beyan ve taahhüt eder. ALICI’nın; Ön Bilgilendirmeyi
elektronik ortamda teyit etmesi, mesafeli satış sözleşmesinin kurulmasından evvel, SATICI tarafından
ALICI' ya verilmesi gereken adresi, siparişi verilen ürünlere ait temel özellikleri, ürünlerin
vergiler dâhil fiyatını, ödeme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini kabul,
beyan ve taahhüt eder.
<br />
<b>8.2.</b> Sözleşme konusu her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile ALICI' nın
yerleşim yeri uzaklığına bağlı olarak internet sitesindeki ön bilgiler kısmında belirtilen süre
zarfında ALICI veya ALICI’nın gösterdiği adresteki kişi ve/veya kuruluşa teslim edilir. Bu süre
içinde ürünün ALICI’ya teslim edilememesi durumunda, ALICI’nın sözleşmeyi feshetme hakkı saklıdır.
<br />
<b>8.3.</b> SATICI, Sözleşme konusu ürünü eksiksiz, siparişte belirtilen niteliklere uygun ve varsa
garanti belgeleri, kullanım kılavuzları işin gereği olan bilgi ve belgeler ile teslim etmeyi, her
türlü ayıptan arî olarak yasal mevzuat gereklerine göre sağlam, standartlara uygun bir şekilde işi
doğruluk ve dürüstlük esasları dâhilinde ifa etmeyi, hizmet kalitesini koruyup yükseltmeyi, işin
ifası sırasında gerekli dikkat ve özeni göstermeyi, ihtiyat ve öngörü ile hareket etmeyi kabul,
beyan ve taahhüt eder.
<br />
<b>8.4.</b> SATICI, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ALICI’yı bilgilendirmek ve
açıkça onayını almak suretiyle eşit kalite ve fiyatta farklı bir ürün tedarik edebilir.
<br />
<b>8.5.</b> SATICI, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması halinde
sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, öğrendiği tarihten itibaren 3 gün
içinde yazılı olarak tüketiciye bildireceğini, 14 günlük süre içinde toplam bedeli ALICI’ya iade
edeceğini kabul, beyan ve taahhüt eder.
<br />
<b>8.6.</b> ALICI, Sözleşme konusu ürünün teslimatı için işbu Sözleşme’yi elektronik ortamda teyit
edeceğini, herhangi bir nedenle sözleşme konusu ürün bedelinin ödenmemesi ve/veya banka kayıtlarında
iptal edilmesi halinde, SATICI’nın sözleşme konusu ürünü teslim yükümlülüğünün sona ereceğini kabul,
beyan ve taahhüt eder.
<br />
<b>8.7.</b> ALICI, Sözleşme konusu ürünün ALICI veya ALICI’nın gösterdiği adresteki kişi ve/veya
kuruluşa tesliminden sonra ALICI'ya ait kredi kartının yetkisiz kişilerce haksız kullanılması
sonucunda sözleşme konusu ürün bedelinin ilgili banka veya finans kuruluşu tarafından SATICI'ya
ödenmemesi halinde, ALICI Sözleşme konusu ürünü 3 gün içerisinde nakliye gideri SATICI’ya ait olacak
şekilde SATICI’ya iade edeceğini kabul, beyan ve taahhüt eder.
<br />
<b>8.8.</b> SATICI, tarafların iradesi dışında gelişen, önceden öngörülemeyen ve tarafların
borçlarını yerine getirmesini engelleyici ve/veya geciktirici hallerin oluşması gibi mücbir sebepler
halleri nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI'ya
bildireceğini kabul, beyan ve taahhüt eder. ALICI da siparişin iptal edilmesini, sözleşme konusu
ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan
kalkmasına kadar ertelenmesini SATICI’dan talep etme hakkını haizdir. ALICI tarafından siparişin
iptal edilmesi halinde ALICI’nın nakit ile yaptığı ödemelerde, ürün tutarı 14 gün içinde kendisine
nakden ve defaten ödenir. ALICI’nın kredi kartı ile yaptığı ödemelerde ise, ürün tutarı, siparişin
ALICI tarafından iptal edilmesinden sonra 14 gün içerisinde ilgili bankaya iade edilir. ALICI,
SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasına
ilişkin ortalama sürecin 2 ile 3 haftayı bulabileceğini, bu tutarın bankaya iadesinden sonra
ALICI’nın hesaplarına yansıması halinin tamamen banka işlem süreci ile ilgili olduğundan, ALICI,
olası gecikmeler için SATICI’yı sorumlu tutamayacağını kabul, beyan ve taahhüt eder.
<br />
<b>8.9.</b> SATICININ, ALICI tarafından siteye kayıt formunda belirtilen veya daha sonra kendisi
tarafından güncellenen adresi, e-posta adresi, sabit ve mobil telefon hatları ve diğer iletişim
bilgileri üzerinden mektup, e-posta, SMS, telefon görüşmesi ve diğer yollarla iletişim, pazarlama,
bildirim ve diğer amaçlarla ALICI’ya ulaşma hakkı bulunmaktadır. ALICI, işbu sözleşmeyi kabul
etmekle SATICI’nın kendisine yönelik yukarıda belirtilen iletişim faaliyetlerinde bulunabileceğini
kabul ve beyan etmektedir.
<br />
<b>8.10.</b> ALICI, sözleşme konusu mal/hizmeti teslim almadan önce muayene edecek; ezik, kırık,
ambalajı yırtılmış vb. hasarlı ve ayıplı mal/hizmeti kargo şirketinden teslim almayacaktır. Teslim
alınan mal/hizmetin hasarsız ve sağlam olduğu kabul edilecektir. Teslimden sonra mal/hizmetin özenle
korunması borcu, ALICI’ya aittir. Cayma hakkı kullanılacaksa mal/hizmet kullanılmamalıdır. Fatura
iade edilmelidir.
<br />
<b>8.11.</b> ALICI ile sipariş esnasında kullanılan kredi kartı hamilinin aynı kişi olmaması veya
ürünün ALICI’ya tesliminden evvel, siparişte kullanılan kredi kartına ilişkin güvenlik açığı tespit
edilmesi halinde, SATICI, kredi kartı hamiline ilişkin kimlik ve iletişim bilgilerini, siparişte
kullanılan kredi kartının bir önceki aya ait ekstresini yahut kart hamilinin bankasından kredi
kartının kendisine ait olduğuna ilişkin yazıyı ibraz etmesini ALICI’dan talep edebilir. ALICI’nın
talebe konu bilgi/belgeleri temin etmesine kadar geçecek sürede sipariş dondurulacak olup, mezkur
taleplerin 24 saat içerisinde karşılanmaması halinde ise SATICI, siparişi iptal etme hakkını
haizdir.
<br />
<b>8.12.</b> ALICI, SATICI’ya ait internet sitesine üye olurken verdiği kişisel ve diğer sair
bilgilerin gerçeğe uygun olduğunu, SATICI’nın bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı
tüm zararları, SATICI’nın ilk bildirimi üzerine derhal, nakden ve defaten tazmin edeceğini beyan ve
taahhüt eder.
<br />
<b>8.13.</b> ALICI, SATICI’ya ait internet sitesini kullanırken yasal mevzuat hükümlerine riayet
etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve
cezai yükümlülükler tamamen ve münhasıran ALICI’yı bağlayacaktır.
<br />
<b>8.14.</b> ALICI, SATICI’ya ait internet sitesini hiçbir şekilde kamu düzenini bozucu, genel
ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için,
başkalarının maddi ve manevi haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının
hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) işlemlerde
bulunamaz.
<br />
<b>8.15.</b> SATICI’ya ait internet sitesinin üzerinden, SATICI’nın kendi kontrolünde olmayan
ve/veya başkaca üçüncü kişilerin sahip olduğu ve/veya işlettiği başka web sitelerine ve/veya başka
içeriklere link verilebilir. Bu linkler ALICI’ya yönlenme kolaylığı sağlamak amacıyla konmuş olup
herhangi bir web sitesini veya o siteyi işleten kişiyi desteklememekte ve Link verilen web sitesinin
içerdiği bilgilere yönelik herhangi bir garanti niteliği taşımamaktadır.
<br />
<b>8.16.</b> İşbu sözleşme içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu
ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, SATICI’yı bu ihlallerin hukuki ve cezai
sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi
halinde, SATICI’nın üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma
hakkı saklıdır.
<br />
<br />
<b
  >9. KİŞİSEL VERİLERİN KORUNMASI, TİCARİ ELEKTRONİK İLETİ VE FİKRİ-SINAİ HAKLAR İLE İLGİLİ KURALLAR
  ŞARTLAR</b
>
<br />
<br />
<b>9.1.</b>6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında kişisel veri olarak
tanımlanabilecek ALICI’ya ait ad, soyad, e-posta adresi, telefon numarası vb. bilgiler;
<br />
• sipariş almak, ürün ve hizmetleri sunmak, ürün ve hizmetleri geliştirmek, sistemsel sorunların
çözümü, ödeme işlemlerini gerçekleştirmek, -önceden onay verilmesi halinde- siparişler, ürünler ve
hizmetler hakkında pazarlama faaliyetlerinde kullanılmak, ALICI’ya ait bilgilerin güncellenmesinde
ve üyeliklerin yönetimi ve sürdürülmesi ile ALICI ile SATICI arasında kurulan mesafeli satış
sözleşmesi ve sair sözleşmelerin ifası amacıyla ve 3. kişilerin teknik, lojistik ve benzeri diğer
işlevlerinin SATICI tarafından sağlanabilmesi için yukarıda sayılan verileri TAŞER ve üçüncü kişi
ve/veya kuruluşlar tarafından süresiz/süreli kaydedilebilir, yazılı/manyetik arşivlerde muhafaza
edilebilir, kullanılabilir, güncellenebilir, paylaşılabilir, transfer olunabilir ve sair suretler
ile işlenebilir.
<br />
<b>9.2.</b> ALICILAR’a, yürürlükteki mevzuata uygun şekilde, her türlü ürün ve hizmetlere ilişkin
tanıtım, reklam, iletişim, promosyon, satış ve pazarlama amacıyla, kredi kartı ve üyelik
bilgilendirme, işlem, uygulamaları için TAŞER Züccaciye tarafından SMS/kısa mesaj, anlık bildirim,
otomatik arama, bilgisayar, telefon, e-posta/mail, faks, diğer elektronik iletişim araçları ile
ticari elektronik iletişimler yapılabilir, ALICI kendisine ticari elektronik iletiler gönderilmesini
kabul etmiştir.
<br />
<b>9.3.</b> ALICI tarafından Platform’a girilen bilgilerin ve işlemlerin güvenliği için gerekli
önlemler, TAŞER tarafındaki kendi sistem altyapısında, bilgi ve işlemin mahiyetine göre günümüz
teknik imkanları ölçüsünde alınmıştır. Bununla beraber, söz konusu bilgiler ALICI’ya ait cihazlardan
girildiğinden ALICI tarafından korunmaları ve ilgisiz kişilerce erişilememesi için, virüs ve benzeri
zararlı uygulamalara ilişkin olanlar dahil, gerekli tedbirlerin alınması sorumluluğu ALICI’ya
aittir.
<br />
<b>9.4.</b> ALICI, TAŞER’e belirtilen iletişim kanallarından ulaşarak veri kullanımı-işlenmelerini
ve/veya iletişimleri her zaman için durdurulmasını talep edebilir. ALICI’nın bu husustaki açık
bildirimine göre, kişisel veri işlemleri ve/veya tarafına iletişimler yasal azami süre içinde
durdurulur; ayrıca dilerse, hukuken muhafazası gerekenler ve/veya mümkün olanlar haricindeki
bilgileri, veri kayıt sisteminden silinir ya da kimliği belli olmayacak biçimde anonim hale
getirilir. ALICI isterse kişisel verilerinin işlenmesi ile ilgili işlemler, aktarıldığı kişiler,
eksik veya yanlış olması halinde düzeltilmesi, düzeltilen bilgilerin ilgili üçüncü kişilere
bildirilmesi, verilerin silinmesi veya yok edilmesi, otomatik sistemler ile analiz edilmesi sureti
ile kendisi aleyhine bir sonucun ortaya çıkmasına itiraz, verilerin kanuna aykırı olarak işlenmesi
sebebi ile zarara uğrama halinde giderilmesi gibi konularda TAŞER’e her zaman başvurabilir ve bilgi
alabilir. Söz konusu başvurular incelenerek yasal süresi içerisinde ALICI’ya mevzuatta öngörülen
sürelerde dönüş yapılacaktır.
<br />
<b>9.5.</b> Platform’a ait her türlü bilgi ve içerik ile bunların düzenlenmesi, revizyonu ve
kısmen/tamamen kullanımı konusunda; SATICI'nın anlaşmasına göre diğer üçüncü şahıslara ait olanlar
hariç; tüm fikri-sınai haklar ve mülkiyet hakları TAŞER Züccaciye’ye aittir.
<br />
<b>9.6.</b> Platform’dan ulaşılan diğer sitelerde kendilerine ait gizlilik-güvenlik politikaları ve
kullanım şartları geçerlidir, oluşabilecek ihtilaflar ile menfi neticelerinden TAŞER sorumlu
değildir. <br />
<br />
<b>10. CAYMA HAKKI</b>
<br />
<br />
<b>10.1.</b>ALICI hizmet ifasına ilişkin sözleşmelerde sözleşmenin kurulduğu günden, mal teslimine
ilişkin sözleşmelerde ise malın kendisine tesliminden itibaren, hiçbir gerekçe göstermeksizin 15 (on
beş) gün içinde cayma hakkını kullanarak mal/hizmeti iade edebilir.
<br />
<b>a) </b>Cayma hakkına ilişkin sürenin hesabında tek sipariş konusu olup ayrı ayrı teslim edilen
mallarda, ALICI’nın veya ALICI tarafından belirlenen üçüncü kişinin son malı teslim aldığı gün,
<br />
<b>b) </b>Birden fazla parçadan oluşan mallarda, ALICI’nın veya ALICI tarafından belirlenen üçüncü
kişinin son parçayı teslim aldığı gün,
<br />
<b>c) </b>Belirli bir süre boyunca malın düzenli tesliminin yapıldığı sözleşmelerde, ALICI’nın veya
ALICI tarafından belirlenen üçüncü kişinin ilk malı teslim aldığı gün esas alınır.
<br />
<b>10.2.</b>ALICI, cayma hakkı kullanım bildirimini SATICI'ya ait telefon numarası üzerinden
SATICI’ya ulaştırır. SATICI, ALICI’nın cayma beyanının kendisine ulaşmasından itibaren 14 (on dört)
gün içinde mal/hizmet bedelini iade etmekle yükümlüdür.
<br />
<b>10.3.</b>Söz konusu mal/hizmet bedeli ALICI’nın satın alırken kullandığı ödeme aracına uygun bir
şekilde ALICI’ya herhangi bir masraf veya yükümlülük getirmeden yapılır.
<br />
<b>10.4.</b>ALICI, cayma hakkına ilişkin bildirimi SATICI'ya yönelttiği andan itibaren, 10 (on) gün
içinde malı SATICI’ya geri gönderir.
<br />
<b>10.5.</b>ALICI cayma süresi içinde malı, işleyişine, teknik özelliklerine ve kullanım
talimatlarına uygun bir şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan
sorumlu değildir.
<br />
<b>10.6.</b>Cayma hakkının kullanılmasıyla beraber ALICI ve SATICI arasındaki yan sözleşmeler
masraf, tazminat veya cezai şart ödeme yükümlülüğü olmaksızın sona erer. <br />
<br />
<b>11. CAYMA HAKKININ KULLANILAMAYACAĞI HALLER</b>
<br />
<br />
<b>11.1.</b>ALICI aşağıdaki sözleşmelerde cayma hakkını kullanamaz:
<br />
<b>a) </b>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve SATICI kontrolünde
olmayan mal veya hizmetlere ilişkin sözleşmeler
<br />
<b>b) </b>Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin
sözleşmeler
<br />
<b>c) </b>Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin
sözleşmeler
<br />
<b>ç) </b>Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan
mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.
<br />
<b>d) </b>Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan
mallara ilişkin sözleşmeler.
<br />
<b>e) </b>Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması
halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin
sözleşmeler.
<br />
<b>f) </b>Cayma hakkı süresi sona ermeden önce, ALICI’nın onayı ile ifasına başlanan hizmetlere
ilişkin sözleşmeler. <br />
<br />
<br />
<b>12. UYUŞMAZLIKLARIN ÇÖZÜMÜ</b>
<br />
<br />
<b>12.1.</b>İşbu Mesafeli Satış Sözleşmesi'nin uygulanmasında, Ticaret Bakanlığınca ilan edilen
değere kadar ALICInın Mal veya Hizmeti satın aldığı ve ikametgahının bulunduğu yerdeki Tüketici
Hakem Heyetleri ile Tüketici Mahkemeleri yetkilidir.
<br />
<b>12.2</b> 6502 Sayılı Tüketicinin Korunması Hakkında Kanun'un 68. maddesinin 1. fıkrasında
belirtilen alt ve üst limitler doğrultusunda tüketici talepleri hakkında ilçe/il tüketici hakem
heyetleri yetkilidir.
<br />
<br />
<b>13. MALIN/HİZMETİN FİYATI </b>
<br />
<br />
Malın peşin veya vadeli satış fiyatı, sipariş formunda yer almakla birlikte, sipariş sonu gönderilen
bilgilendirme maili ve ürün ile birlikte müşteriye gönderilen fatura içeriğinde mevcut olan
fiyattır. SATICI tarafından yapılan indirimler, kuponlar, kargo ücreti ve sair uygulamalar satış
fiyatına yansıtılır.
<br />
<br />
<b>14. TEMERRÜD HALİ VE HUKUKİ SONUÇLARI</b>
<br />
<br />
<b>14.1.</b> ALICI’nın, kredi kartı ile yapmış olduğu işlemlerde temerrüde düşmesi halinde kart
sahibi bankanın kendisi ile yapmış olduğu kredi kartı sözleşmesi çerçevesinde faiz ödeyecek ve
bankaya karşı sorumlu olacaktır. Bu durumda ilgili banka hukuki yollara başvurabilir, doğacak
masrafları ve vekâlet ücretini ALICI’dan talep edebilir ve her koşulda ALICI’nın borcundan dolayı
temerrüde düşmesi halinde, ALICI’nın borcu gecikmeli ifasından dolayı SATICI'nın uğradığı zarar ve
ziyandan ALICI sorumlu olacaktır. <br />
<br />
<br />
<b>15. BİLDİRİMLER ve DELİL SÖZLEŞMESİ</b>
<br />
<br />
<b>15.1.</b> İşbu Sözleşme tahtında Taraflar arasında yapılacak her türlü yazışma, mevzuatta sayılan
zorunlu haller dışında, e-mail aracılığıyla yapılacaktır.
<br />
<b>15.2.</b> ALICI, işbu Sözleşme'den doğabilecek ihtilaflarda SATICI'nın resmi defter ve ticari
kayıtlarıyla, kendi veri tabanında, sunucularında tuttuğu elektronik bilgilerin ve bilgisayar
kayıtlarının, bağlayıcı, kesin ve münhasır delil teşkil edeceğini, bu maddenin Hukuk Muhakemeleri
Kanunu'nun 193. maddesi anlamında delil sözleşmesi niteliğinde olduğunu kabul, beyan ve taahhüt
eder.
<br />
<br />
<b>16. YÜRÜRLÜK</b>
<br />
<br />
<b>16.1.</b> 16 (on altı) maddeden ibaret bu Sözleşme, Taraflarca okunarak, işlem tarihinde, ALICI
tarafından elektronik ortamda onaylanmak suretiyle akdedilmiş ve yürürlüğe girmiştir. Sözleşmenin
bir nüshası ALICI’nın üyelik hesabında mevcuttur ve talep edilmesi halinde ayrıca e-posta ile de
gönderilebilecektir.
