.container {
  width: 210px;
  height: 314px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(0);
}

.container:hover {
  transition: 0.3s;
  transform: translateY(-3px);
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.2), 4px 4px 4px 0px rgba(0, 0, 0, 0.14),
    3px 3px 7px 0px rgba(0, 0, 0, 0.12);
}

.brand {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 5px 0 5px;
}

.name {
  height: 25px;
  text-align: center;
  padding: 0 5px;
}

.img {
  height: 210px;
  width: 210px;
  margin: auto;
}

.footer {
  width: 100%;
}

.discount {
  text-align: center;
}

.price {
  text-align: center;
}

.normal-price {
  text-decoration: line-through;
  color: rgb(143, 143, 143);
}

.button-area {
  padding: 5px;
}

.button {
  width: 100%;
}
