<div style="text-align: center"><b>ÖN BİLGİLENDİRME FORMU (TAŞER Züccaciye A.Ş)</b></div>
<b>1. TARAFLAR VE KONU</b>
<br />
<br />
İşbu Ön Bilgilendirme Formu’nun konusu, ALICI ile SATICI arasındaki mesafeli sözleşmeye ilişkin
Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri uyarınca
bilgilendirilmesidir. Ayrıca Mesafeli Sözleşmeler Yönetmeliği uyarınca 5/1 a, d, g ve h
maddelerindeki hususlara ilişkin bilgiler işbu Ön bilgilendirme Formu’nda yer almaktadır. ALICI ön
bilgilendirme formu ve mesafeli satış sözleşmesine ilişkin bilgileri üyeliğinin bağlı olduğu
“Sipariş Detay” sayfasından takip edebilecek ve siparişine ilişkin verdiği bilgileri “Hesap
Bilgilerim” sayfasından değiştirebilecektir. Ön bilgilendirme formu ve mesafeli satış sözleşmesi
taşer.com tarafından kayıt altına alınmakta olup, ALICI dilediği zaman “Sipariş Detay” sayfasından
metinlere ulaşım sağlayabilecektir.
<br />
<br />
<b>2. TANIMLAR</b>
<br />
<br />
İşbu sözleşmenin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler karşılarındaki yazılı
açıklamaları ifade edeceklerdir.
<table class="normal-table">
  <tr>
    <td>ALICI</td>
    <td>:</td>
    <td>
      Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan veya yararlanan
      gerçek ya da tüzel kişiyi,
    </td>
  </tr>
  <tr>
    <td>Bakan</td>
    <td>:</td>
    <td>Ticaret Bakanı’nı,</td>
  </tr>
  <tr>
    <td>Bakanlık</td>
    <td>:</td>
    <td>Ticaret Bakanlığı’nı,</td>
  </tr>
  <tr>
    <td>TAŞER</td>
    <td>:</td>
    <td>Bu platformda satış yapan TAŞER Züccaciye</td>
  </tr>
  <tr>
    <td>Hizmet</td>
    <td>:</td>
    <td>
      Bir ücret veya menfaat karşılığında yapılan ya da yapılması taahhüt edilen mal sağlama
      dışındaki her türlü tüketici işleminin konusu,
    </td>
  </tr>
  <tr>
    <td>Kanun</td>
    <td>:</td>
    <td>Tüketicinin Korunması Hakkında Kanun’u,</td>
  </tr>
  <tr>
    <td>Platform</td>
    <td>:</td>
    <td>TAŞER Züccaciye'ye ait www.taşer.com adlı internet sitesini,</td>
  </tr>
  <tr>
    <td>SATICI</td>
    <td>:</td>
    <td>
      Kamu tüzel kişileri de dahil olmak üzere ticari veya mesleki amaçlarla tüketiciye mal sunan ya
      da mal sunanın adına ya da hesabına hareket eden ve Sözleşme’nin 6. maddesinde bilgileri
      bulunan gerçek ve/veya tüzel kişiyi,
    </td>
  </tr>
  <tr>
    <td>Sipariş Veren</td>
    <td>:</td>
    <td>
      Bir mal veya hizmeti TAŞER Züccaciye'ye ait www.taşer.com adlı internet sitesi üzerinden talep
      eden gerçek ya da tüzel kişiyi,
    </td>
  </tr>
  <tr>
    <td>Sözleşme</td>
    <td>:</td>
    <td>SATICI ve ALICI arasında akdedilen işbu Sözleşme’yi,</td>
  </tr>
  <tr>
    <td>Taraflar</td>
    <td>:</td>
    <td>SATICI ve ALICI’yı,</td>
  </tr>
  <tr>
    <td>Ürün veya Ürünler</td>
    <td>:</td>
    <td>
      Alışverişe konu olan taşınır eşya, konut veya tatil amaçlı taşınmaz mallar ile elektronik
      ortamda kullanılmak üzere hazırlanan yazılım, ses, görüntü ve benzeri her türlü ürünleri,
      ifade eder
    </td>
  </tr>
  <tr>
    <td>Yönetmelik</td>
    <td>:</td>
    <td>Mesafeli Satışlar Yönetmeliği’ni,</td>
  </tr>
</table>
<br />
<br />
<b>3. SATICI BİLGİLERİ</b>
<br />
<br />
<table class="normal-table">
  <tr>
    <td>Satıcı İsim/Unvanı</td>
    <td>:</td>
    <td>TAŞER Züccaciye</td>
  </tr>
  <tr>
    <td>Satıcının Açık Adresi</td>
    <td>:</td>
    <td>Osmangazi Mahallesi Ahmet Yesevi caddesi no:20 ESENYURT</td>
  </tr>
  <tr>
    <td>Satıcının Telefonu</td>
    <td>:</td>
    <td>0216 235 23 15</td>
  </tr>
  <tr>
    <td>Satıcı Mersis No</td>
    <td>:</td>
    <td></td>
  </tr>
  <tr>
    <td>Satıcı E-Posta</td>
    <td>:</td>
    <td></td>
  </tr>
</table>
<br />
<br />
<b>5. SÖZLEŞME KONUSU MAL VE HİZMETİN TEMEL NİTELİKLERİ ve FİYATI (KDV DAHİL)</b>
<br />
<br />
<b>5.1.</b> Malın/Ürün/Ürünlerin/Hizmetin temel özelliklerini (türü, miktarı, marka/modeli, adedi)
TAŞER Züccaciye’ye ait internet sitesinde yer almaktadır. Ürünün temel özellikleri hem ürünün
ilanının yer aldığı ilgili sayfada, sipariş detay sayfasında ve aşağıda yer almaktadır.
<br />
<b>5.2.</b> Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve
vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar
ise belirtilen süre sonuna kadar geçerlidir.
<br />
<b>5.3.</b> Sözleşme konusu mal ya da hizmetin tüm vergiler dâhil satış fiyatı aşağıdaki tabloda
gösterilmiştir.
<br />
<table class="price-table">
  <tr>
    <td>Ürün Açıklaması</td>
    <td>Adet</td>
    <td>Peşin Fiyatı</td>
    <td>Ara Toplam (KDV Dahil)</td>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{order.productName}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.price}} TL</td>
    <td>{{order.price * order.quantity | number : '.2-2'}} TL</td>
  </tr>
  <tr *ngFor="let order of orders">
    <td *ngIf="order.discountRate>0">%{{order.discountRate * 100 | number : '.0-0'}} indirim</td>
    <td *ngIf="order.discountRate>0">{{order.quantity}}</td>
    <td *ngIf="order.discountRate>0">{{order.price * order.discountRate | number : '.2-2'}} TL</td>
    <td *ngIf="order.discountRate>0">
      {{(order.price * order.discountRate) * order.quantity | number : '.2-2'}} TL
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Toplam</td>
    <td>{{totalCost}} TL</td>
  </tr>
</table>
<br />
<table class="normal-table">
  <tr>
    <td>Teslimat Adresi</td>
    <td>:</td>
    <td>{{orderInfo.address}}</td>
  </tr>
  <tr>
    <td>Teslim Edilecek Kişi</td>
    <td>:</td>
    <td>{{orderInfo.name}}</td>
  </tr>
  <tr>
    <td>Satıcının Telefonu</td>
    <td>:</td>
    <td></td>
  </tr>
  <tr>
    <td>Fatura Adresi</td>
    <td>:</td>
    <td>{{orderInfo.address}}</td>
  </tr>
  <tr>
    <td>Sipariş Tarihi</td>
    <td>:</td>
    <td>{{orderInfo.date | date}}</td>
  </tr>
  <tr>
    <td>Teslim Şekli</td>
    <td>:</td>
    <td>Alıcıya Teslim</td>
  </tr>
</table>
<br />
<br />
<b>6. ÖDEME VE TESLİM ŞARTLARI</b>
<br />
<br />
<table class="normal-table">
  <tr>
    <td>Toplam Ürün Bedeli</td>
    <td>:</td>
    <td>{{totalCost}} TL</td>
  </tr>
  <tr>
    <td>Sipariş Tarihi</td>
    <td>:</td>
    <td>{{orderInfo.date | date}}</td>
  </tr>
  <tr>
    <td>Ödeme Şekli ve Planı</td>
    <td>:</td>
    <td>Tek Çekim</td>
  </tr>
</table>
<br />
<b> Teslim Şartları ürün sayfasında belirtildiği şekilde uygulanacaktır. </b>
<br />
<b>Teslim Şartları:</b> Alıcıya Teslim
<br />
<b>Teslim Alacak Kişiler: </b> {{orderInfo.name}}
<br />
<br />
<b>7. CAYMA HAKKI</b>
<br />
<br />
<b>7.1.</b>ALICI hizmet ifasına ilişkin sözleşmelerde sözleşmenin kurulduğu günden, mal teslimine
ilişkin sözleşmelerde ise malın kendisine tesliminden itibaren, hiçbir gerekçe göstermeksizin 15 (on
beş) gün içinde cayma hakkını kullanarak mal/hizmeti iade edebilir.
<br />
<b>a) </b>Cayma hakkına ilişkin sürenin hesabında tek sipariş konusu olup ayrı ayrı teslim edilen
mallarda, ALICI’nın veya ALICI tarafından belirlenen üçüncü kişinin son malı teslim aldığı gün,
<br />
<b>b) </b>Birden fazla parçadan oluşan mallarda, ALICI’nın veya ALICI tarafından belirlenen üçüncü
kişinin son parçayı teslim aldığı gün,
<br />
<b>c) </b>Belirli bir süre boyunca malın düzenli tesliminin yapıldığı sözleşmelerde, ALICI’nın veya
ALICI tarafından belirlenen üçüncü kişinin ilk malı teslim aldığı gün esas alınır.
<br />
<b>7.2.</b>ALICI, cayma hakkı kullanım bildirimini SATICI'ya ait telefon numarası üzerinden
SATICI’ya ulaştırır. SATICI, ALICI’nın cayma beyanının kendisine ulaşmasından itibaren 14 (on dört)
gün içinde mal/hizmet bedelini iade etmekle yükümlüdür.
<br />
<b>7.3.</b>Söz konusu mal/hizmet bedeli ALICI’nın satın alırken kullandığı ödeme aracına uygun bir
şekilde ALICI’ya herhangi bir masraf veya yükümlülük getirmeden yapılır.
<br />
<b>7.4.</b>ALICI, cayma hakkına ilişkin bildirimi SATICI'ya yönelttiği andan itibaren, 10 (on) gün
içinde malı SATICI’ya geri gönderir.
<br />
<b>7.5.</b>ALICI cayma süresi içinde malı, işleyişine, teknik özelliklerine ve kullanım
talimatlarına uygun bir şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan
sorumlu değildir.
<br />
<b>7.6.</b>Cayma hakkının kullanılmasıyla beraber ALICI ve SATICI arasındaki yan sözleşmeler masraf,
tazminat veya cezai şart ödeme yükümlülüğü olmaksızın sona erer.
<br />
<br />
<b>8. CAYMA HAKKININ KULLANILAMAYACAĞI HALLER</b>
<br />
<br />
<b>8.1.</b>ALICI aşağıdaki sözleşmelerde cayma hakkını kullanamaz:
<br />
<b>a) </b>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve SATICI kontrolünde
olmayan mal veya hizmetlere ilişkin sözleşmeler
<br />
<b>b) </b>Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin
sözleşmeler
<br />
<b>c) </b>Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin
sözleşmeler
<br />
<b>ç) </b>Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan
mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.
<br />
<b>d) </b>Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan
mallara ilişkin sözleşmeler.
<br />
<b>e) </b>Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması
halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin
sözleşmeler.
<br />
<b>f) </b>Cayma hakkı süresi sona ermeden önce, ALICI’nın onayı ile ifasına başlanan hizmetlere
ilişkin sözleşmeler.
<br />
<br />
<b>9. GENEL HÜKÜMLER</b>
<br />
<br />
<b>9.1.</b> ALICI, SATICI’ya ait internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış
fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup, bilgi sahibi olduğunu, elektronik
ortamda gerekli teyidi verdiğini kabul, beyan ve taahhüt eder. ALICININ; Ön Bilgilendirmeyi
elektronik ortamda teyit etmesi, mesafeli satış sözleşmesinin kurulmasından evvel, SATICI tarafından
ALICI' ya verilmesi gereken adresi, siparişi verilen ürünlere ait temel özellikleri, ürünlerin
vergiler dâhil fiyatını, ödeme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini kabul,
beyan ve taahhüt eder.
<br />
<b>9.2.</b> Sözleşme konusu her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile ALICI' nın
yerleşim yeri uzaklığına bağlı olarak internet sitesindeki ön bilgiler kısmında belirtilen süre
zarfında ALICI veya ALICI’ nın gösterdiği adresteki kişi ve/veya kuruluşa teslim edilir. Bu süre
içinde ürünün ALICI’ya teslim edilememesi durumunda, ALICI’nın sözleşmeyi feshetme hakkı saklıdır.
<br />
<b>9.3.</b> SATICI, sözleşme konusu ürünü eksiksiz, siparişte belirtilen niteliklere uygun ve varsa
garanti belgeleri, kullanım kılavuzları ile teslim etmeyi, her türlü ayıptan arî olarak yasal
mevzuat gereklerine sağlam, standartlara uygun bir şekilde işin gereği olan bilgi ve belgeler ile
işi doğruluk ve dürüstlük esasları dâhilinde ifa etmeyi, hizmet kalitesini koruyup yükseltmeyi, işin
ifası sırasında gerekli dikkat ve özeni göstermeyi, ihtiyat ve öngörü ile hareket etmeyi kabul,
beyan ve taahhüt eder.
<br />
<b>9.4.</b> SATICI, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ALICI’yı bilgilendirmek ve
açıkça onayını almak suretiyle eşit kalite ve fiyatta farklı bir ürün tedarik edebilir.
<br />
<b>9.5.</b> SATICI, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması halinde
sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, öğrendiği tarihten itibaren 3 gün
içinde yazılı olarak tüketiciye bildireceğini, 14 günlük süre içinde toplam bedeli ALICI’ya iade
edeceğini kabul, beyan ve taahhüt eder.
<br />
<b>9.6.</b> ALICI, sözleşme konusu ürünün teslimatı için işbu Ön Bilgilendirme Formunu elektronik
ortamda teyit edeceğini, herhangi bir nedenle sözleşme konusu ürün bedelinin ödenmemesi ve/veya
banka kayıtlarında iptal edilmesi halinde, SATICI’ nın sözleşme konusu ürünü teslim yükümlülüğünün
sona ereceğini kabul, beyan ve taahhüt eder.
<br />
<b>9.7.</b> ALICI, Sözleşme konusu ürünün ALICI veya ALICI’nın gösterdiği adresteki kişi ve/veya
kuruluşa tesliminden sonra ALICI'ya ait kredi kartının yetkisiz kişilerce haksız kullanılması
sonucunda sözleşme konusu ürün bedelinin ilgili banka veya finans kuruluşu tarafından SATICI'ya
ödenmemesi halinde, ALICI Sözleşme konusu ürünü 3 gün içerisinde nakliye gideri SATICI’ya ait olacak
şekilde SATICI’ya iade edeceğini kabul, beyan ve taahhüt eder.
<br />
<b>9.8.</b> SATICI, tarafların iradesi dışında gelişen, önceden öngörülemeyen ve tarafların
borçlarını yerine getirmesini engelleyici ve/veya geciktirici hallerin oluşması gibi mücbir sebepler
halleri nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI' ya
bildireceğini kabul, beyan ve taahhüt eder. ALICI da siparişin iptal edilmesini, sözleşme konusu
ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan
kalkmasına kadar ertelenmesini SATICI’ dan talep etme hakkına haizdir. ALICI tarafından siparişin
iptal edilmesi halinde ALICI’ nın nakit ile yaptığı ödemelerde, ürün tutarı 14 gün içinde kendisine
nakden ve defaten ödenir. ALICI’ nın kredi kartı ile yaptığı ödemelerde ise, ürün tutarı, siparişin
ALICI tarafından iptal edilmesinden sonra 14 gün içerisinde ilgili bankaya iade edilir. ALICI,
SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasına
ilişkin ortalama sürecin 2 ile 3 haftayı bulabileceğini, bu tutarın bankaya iadesinden sonra ALICI’
nın hesaplarına yansıması halinin tamamen banka işlem süreci ile ilgili olduğundan, ALICI, olası
gecikmeler için SATICI’ yı sorumlu tutamayacağını kabul, beyan ve taahhüt eder.
<br />
<br />
<b
  >10. KİŞİSEL VERİLERİN KORUNMASI, TİCARİ ELEKTRONİK İLETİ VE FİKRİ-SINAİ HAKLAR İLE İLGİLİ
  KURALLAR ŞARTLAR</b
>
<br />
<br />
<b>10.1.</b>6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında kişisel veri olarak
tanımlanabilecek ALICI’ya ait ad, soyad, e-posta adresi, telefon numarası vb. bilgiler;
<br />
• sipariş almak, ürün ve hizmetleri sunmak, ürün ve hizmetleri geliştirmek, sistemsel sorunların
çözümü, ödeme işlemlerini gerçekleştirmek, -önceden onay verilmesi halinde- siparişler, ürünler ve
hizmetler hakkında pazarlama faaliyetlerinde kullanılmak, ALICI’ya ait bilgilerin güncellenmesinde
ve üyeliklerin yönetimi ve sürdürülmesi ile ALICI ile SATICI arasında kurulan mesafeli satış
sözleşmesi ve sair sözleşmelerin ifası amacıyla ve 3. kişilerin teknik, lojistik ve benzeri diğer
işlevlerinin SATICI tarafından sağlanabilmesi için yukarıda sayılan verileri TAŞER ve üçüncü kişi
ve/veya kuruluşlar tarafından süresiz/süreli kaydedilebilir, yazılı/manyetik arşivlerde muhafaza
edilebilir, kullanılabilir, güncellenebilir, paylaşılabilir, transfer olunabilir ve sair suretler
ile işlenebilir.
<br />
<b> 10.2.</b> ALICILAR’a, yürürlükteki mevzuata uygun şekilde, her türlü ürün ve hizmetlere ilişkin
tanıtım, reklam, iletişim, promosyon, satış ve pazarlama amacıyla, kredi kartı ve üyelik
bilgilendirme, işlem, uygulamaları için TAŞER Züccaciye tarafından SMS/kısa mesaj, anlık bildirim,
otomatik arama, bilgisayar, telefon, e-posta/mail, faks, diğer elektronik iletişim araçları ile
ticari elektronik iletişimler yapılabilir, ALICI kendisine ticari elektronik iletiler gönderilmesini
kabul etmiştir.
<br />
<b>10.3.</b> ALICI tarafından Platform’a girilen bilgilerin ve işlemlerin güvenliği için gerekli
önlemler, TAŞER tarafındaki kendi sistem altyapısında, bilgi ve işlemin mahiyetine göre günümüz
teknik imkanları ölçüsünde alınmıştır. Bununla beraber, söz konusu bilgiler ALICI’ya ait cihazlardan
girildiğinden ALICI tarafından korunmaları ve ilgisiz kişilerce erişilememesi için, virüs ve benzeri
zararlı uygulamalara ilişkin olanlar dahil, gerekli tedbirlerin alınması sorumluluğu ALICI’ya
aittir.
<br />
<b>10.4.</b> ALICI, TAŞER’e belirtilen iletişim kanallarından ulaşarak veri kullanımı-işlenmelerini
ve/veya iletişimleri her zaman için durdurulmasını talep edebilir. ALICI’nın bu husustaki açık
bildirimine göre, kişisel veri işlemleri ve/veya tarafına iletişimler yasal azami süre içinde
durdurulur; ayrıca dilerse, hukuken muhafazası gerekenler ve/veya mümkün olanlar haricindeki
bilgileri, veri kayıt sisteminden silinir ya da kimliği belli olmayacak biçimde anonim hale
getirilir. ALICI isterse kişisel verilerinin işlenmesi ile ilgili işlemler, aktarıldığı kişiler,
eksik veya yanlış olması halinde düzeltilmesi, düzeltilen bilgilerin ilgili üçüncü kişilere
bildirilmesi, verilerin silinmesi veya yok edilmesi, otomatik sistemler ile analiz edilmesi sureti
ile kendisi aleyhine bir sonucun ortaya çıkmasına itiraz, verilerin kanuna aykırı olarak işlenmesi
sebebi ile zarara uğrama halinde giderilmesi gibi konularda TAŞER’e her zaman başvurabilir ve bilgi
alabilir. Söz konusu başvurular incelenerek yasal süresi içerisinde ALICI’ya mevzuatta öngörülen
sürelerde dönüş yapılacaktır.
<br />
<b>10.5.</b> Platform’a ait her türlü bilgi ve içerik ile bunların düzenlenmesi, revizyonu ve
kısmen/tamamen kullanımı konusunda; SATICI'nın anlaşmasına göre diğer üçüncü şahıslara ait olanlar
hariç; tüm fikri-sınai haklar ve mülkiyet hakları TAŞER Züccaciye’ye aittir.
<br />
<b>10.6.</b> Platform’dan ulaşılan diğer sitelerde kendilerine ait gizlilik-güvenlik politikaları ve
kullanım şartları geçerlidir, oluşabilecek ihtilaflar ile menfi neticelerinden TAŞER sorumlu
değildir.
<br />
<br />
<b>11. UYUŞMAZLIKLARIN ÇÖZÜMÜ</b>
<br />
<br />
<b>11.1.</b> İşbu Ön Bilgilendirmenin uygulanmasında ve işbu sözleşmeden doğacak uyuşmazlığın
çözümünde, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar ALICI’nın Mal veya Hizmeti satın
aldığı ve ikametgahının bulunduğu yerdeki Tüketici Hakem Heyetleri ile Tüketici Mahkemeleri
yetkilidir. 6502 Sayılı Tüketicinin Korunması Hakkında Kanun’un 68. maddesinin 1. fıkrasında
belirtilen alt ve üst limitler doğrultusunda tüketici talepleri hakkında ilçe/il tüketici hakem
heyetleri yetkilidir.
<br />
<b
  >Yukarıdaki bilgiler uzaktan iletişim araçlarına uygun olarak ve iyi niyet ilkeleri çerçevesinde
  ergin olmayanlar ile ayırtım gücünden yoksun veya kısıtlı erginleri koruyacak şekilde ticari
  amaçlarla verilmiştir.</b
>
