.container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 20px;
  box-sizing: border-box;
}

.contract-content {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 110px;
  padding: 5px;
  background-color: #fcfbfa;
  font-size: 12px;
}

.order-success {
  width: 60px;
  height: 60px;
  font-size: 60px;
  display: block;
  color: rgb(64, 235, 64);
}

.error-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  display: block;
  color: #721f27;
}

:host ::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

mat-checkbox {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .section {
    width: 100%;
    min-height: 300px;
  }

  .check-box {
    white-space: normal;
  }
}
