<main class="main-container" *ngIf="product">
  <div class="container">
    <section class="top">
      <app-photos
        class="photos"
        [width]="448"
        [height]="448"
        [photos]="product.photos"
      ></app-photos>
      <section class="general">
        <div class="info">
          <div class="name mat-body-2">{{product.name}}</div>
          <div class="brand text-primary font-label2">{{product.brand}}</div>
          <div class="rate">
            <app-star [givenRate]="product.rate" [width]="21" [height]="20"></app-star>
          </div>
          <div class="desc">{{product.description}}</div>
          <div class="price mat-body-2">
            <span class="normal-price" *ngIf="product.discountRate>0">
              {{product.price | number : '.2'}} TL
            </span>
            {{(product.price - product.price *product.discountRate) | number : '.2-2'}} TL
            <span *ngIf="product.discountRate>0">%{{product.discountRate * 100}} indirimli</span>
          </div>
        </div>
        <div class="operation">
          <mat-form-field class="numeric">
            <mat-label>Adet</mat-label>
            <input matInput type="number" min="1" max="100" [(ngModel)]="quantity" />
          </mat-form-field>

          <button
            mat-raised-button
            class="button"
            color="accent"
            (click)="addTocartClick.next(product)"
          >
            <mat-icon>add_shopping_cart</mat-icon>
            Sepete Ekle
          </button>
        </div>
      </section>
    </section>
    <section class="bottom">
      <div class="mat-body-2 bottom-title">Ürün Değerlendirmeleri</div>
      <div class="comments">
        <div *ngFor="let comment of product.comments" class="comment">
          <div class="comment-info">
            <span class="comment-name mat-body-2">{{comment.name}}</span> -
            <app-star
              [givenRate]="comment.rate"
              style="display: inline-block"
              [width]="21"
              [height]="20"
            ></app-star>
          </div>
          <div class="comment-desc mat-body-2">{{comment.description}}</div>
        </div>
      </div>
    </section>
  </div>
</main>
