.main-container {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 900px;
}

.top {
  display: flex;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #ccc; */
}

.photos {
  width: 450px;
  height: 500px;
}

.general {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  padding-top: 10px;
  font-size: 16px;
}

.brand {
  padding-top: 3px;
}

.rate {
  padding-top: 15px;
}

.desc {
  padding-top: 10px;
}

.price {
  padding-top: 10px;
}

.normal-price {
  text-decoration: line-through;
  color: rgb(143, 143, 143);
}

.operation {
  margin-top: 3rem;
}

.numeric {
  width: 90px;
}

.button {
  background-color: #27c007;
  color: white;
  margin-left: 10px;
}

.bottom {
  margin-top: 10px;
}

.bottom-title {
  font-size: 18px;
}

.comments {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.comment {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.comment-name {
  font-size: 18px;
}
