.custom-navbar {
  padding: 10px 0;
  background-color: rgba(22, 36, 50, 0.2);
  box-shadow: 0 0 6px rgba(30, 37, 54, 0.3);
}

.navbar-container {
  color: #555;
  max-width: 1150px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.spacer {
  flex: 1;
}

.brand {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tab {
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.tab:hover {
  cursor: pointer;
  background-color: rgba(22, 36, 50, 0.08);
}

.icon {
  padding: 5px;
  font-size: 20px;
  border-radius: 100%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgba(22, 36, 50, 0.08);
}

.divider {
  height: 20px;
  width: 1px;
  margin: 0 4px;
  background-color: rgba(22, 36, 50, 0.2);
}
