.custom-navbar {
  padding: 5px 0;
  background-color: #9fadbb;
}

.navbar-container {
  color: #555;
  max-width: 1150px;
  min-height: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}

.spacer {
  flex: 1;
}

.brand {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}

.divider {
  height: 20px;
  width: 1px;
  margin: 0 4px;
  background-color: rgba(22, 36, 50, 0.2);
}

.cart {
  position: relative;
}

.custom-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  z-index: 100;
  background-color: #f44336;
}
