<div class="top">
  <button mat-button (click)="exportContracts()">
    <mat-icon>file_download</mat-icon>PDF İndir
  </button>

  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="container">
  <div *ngIf="dialog.dialog === DialogType.SalesAndInformationContract">
    <app-sales-contract
      [orderInfo]="dialog.data.orderInfo"
      [orders]="dialog.data.orders"
    ></app-sales-contract>
    <br />
    <br />
    <app-information-contract
      [orderInfo]="dialog.data.orderInfo"
      [orders]="dialog.data.orders"
    ></app-information-contract>
  </div>
  <div *ngIf="dialog.dialog === DialogType.RegisterContract">
    <app-register-contract></app-register-contract>
  </div>
</div>

<div *ngIf="hidden" class="pdf-content" id="pdf-content">
  <app-sales-contract
    [orderInfo]="dialog.data.orderInfo"
    [orders]="dialog.data.orders"
  ></app-sales-contract>
  <br />
  <br />
  <app-information-contract
    [orderInfo]="dialog.data.orderInfo"
    [orders]="dialog.data.orders"
  ></app-information-contract>
</div>
