<div class="splash" *ngIf="mainSplash">
  <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="'30'">
  </mat-progress-spinner>
</div>
<main class="container" *ngIf="!mainSplash">
  <div *ngIf="!isMobile" class="filters">
    <div class="filters-body">
      <ng-container *ngTemplateOutlet="filters"></ng-container>
    </div>
  </div>
  <div *ngIf="isMobile" class="mobile-filter-button" id="mobile-filter-button">
    <button mat-flat-button color="primary" (click)="toggleMobileFilters()">
      <mat-icon>filter_alt</mat-icon> Filtrele
    </button>
  </div>
  <div *ngIf="isMobile" class="overlay" (click)="hideMobileFilter()" #overlay></div>
  <div *ngIf="isMobile" class="mobile-filters" #mobileFilters>
    <div>
      <mat-icon (click)="toggleMobileFilters()">close</mat-icon>
    </div>
    <ng-container *ngTemplateOutlet="filters"></ng-container>
  </div>

  <div class="products" *ngIf="products && !showSplash">
    <div class="search-key" *ngIf="filter.searchKey">
      <span class="mat-body-2">"{{filter.searchKey}}"</span> arama sonuçları
      <mat-icon class="remove-key" (click)="removeSearchKey()">close</mat-icon>
    </div>
    <div class="results" id="results">
      <app-card
        *ngFor="let product of products; trackBy : trackByFn"
        [product]="product"
        class="product"
      ></app-card>
      <div
        *ngIf="products.length<=0"
        class="mat-body-2"
        style="text-align: center; width: 100%; margin-top: 20px"
      >
        Ürün bulunamadı.
      </div>
    </div>
    <mat-paginator
      *ngIf="products.length>0"
      [length]="totalProductCount"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      (page)="onPaginationChange($event)"
      style="width: 100%"
      #pagination
    >
    </mat-paginator>
  </div>
  <div class="splash" *ngIf="showSplash">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="'30'">
    </mat-progress-spinner>
  </div>
</main>

<ng-template #filters>
  <div class="filter-item" *ngIf="products">
    <span class="title mat-body-2">Kategori</span>
    <mat-radio-group class="sort-items">
      <mat-radio-button
        class="sort-item"
        *ngFor="let category of (categoryService.categories | async)"
        [value]="category.name"
        [checked]="category.name === filter.category"
        (change)="filterByCategory(category)"
      >
        {{category.name | titlecase}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="filter-item" *ngIf="brands.length>0">
    <span class="title mat-body-2">Marka</span>
    <mat-checkbox
      *ngFor="let brand of brands"
      [checked]="filter.brands.includes(brand)"
      (change)="filterByBrand(brand)"
    >
      {{brand | titlecase}}
    </mat-checkbox>
  </div>
  <div class="filter-item">
    <span class="title mat-body-2">Sıralama Şekli</span>
    <mat-radio-group class="sort-items">
      <mat-radio-button
        class="sort-item"
        [value]="SortType.none"
        [checked]="filter.sortType === SortType.none"
        (change)="sortByType(SortType.none)"
      >
        Hiçbiri
      </mat-radio-button>
      <mat-radio-button
        class="sort-item"
        [value]="SortType.asc"
        [checked]="filter.sortType === SortType.asc"
        (change)="sortByType(SortType.asc)"
      >
        Artan Fiyat
      </mat-radio-button>
      <mat-radio-button
        class="sort-item"
        [value]="SortType.desc"
        [checked]="filter.sortType === SortType.desc"
        (change)="sortByType(SortType.desc)"
      >
        Azalan Fiyat
      </mat-radio-button>
    </mat-radio-group>
  </div>
</ng-template>
