.container {
  display: flex;
  flex-direction: column;
}

.order-list-container {
  display: flex;
  flex-direction: column;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.order:first-child {
  border-top: 1px solid #ccc;
  border-radius: 2px 2px 0 0;
}

.order:last-child {
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 2px 2px;
}

.photo-info {
  display: flex;
}

.name {
  cursor: pointer;
  outline: none;
}

.name-brand {
  margin-left: 10px;
  padding-right: 10px;
}

.section {
  text-align: center;
}

.photo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 2px;
}

.numeric-container {
  height: 35px;
}

.normal-price {
  text-decoration: line-through;
}

.flex {
  flex: 1;
}

.half-flex {
  flex: 0.2;
}

.remove-icon {
  color: #ccc;
}

.remove-icon:hover {
  color: #f44336;
}

@media only screen and (max-width: 650px) {
  .photo {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
  }

  .order {
    padding: 5px;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .name-brand {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    padding-right: 0;
  }

  .name {
    font-size: 12px;
  }

  .brand {
    font-size: 10px;
  }

  .quantity-price {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-operations {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    min-height: 80px;
  }

  .numeric-container {
    height: 25px;
    width: 55px;
  }

  .price-content {
    font-size: 12px;
  }
}
