.container {
  display: flex;
  flex-direction: column;
}

.order-list-container {
  display: flex;
  flex-direction: column;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.order:first-child {
  border-top: 1px solid #ccc;
  border-radius: 2px 2px 0 0;
}
.order:last-child {
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 2px 2px;
}

.photo-info {
  display: flex;
}

.name-brand {
  margin-left: 10px;
}

.section {
  text-align: center;
}

.photo {
  width: 78px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.normal-price {
  text-decoration: line-through;
}

.flex {
  flex: 1;
}

.half-flex {
  flex: 0.2;
}
