<main class="container">
  <div class="order-list-container">
    <div class="order" *ngFor="let order of orders">
      <section class="photo-info flex">
        <img [src]="order.photo" alt="Main-Photo" class="photo" />
        <div class="name-brand">
          {{order.name}}
          <div class="mat-small">{{order.brand}}</div>
        </div>
      </section>
      <section class="section half-flex">
        <div class="numeric">
          <app-numeric-input
            [width]="80"
            [(quantity)]="order.quantity"
            (quantityChange)="emitChanges()"
          ></app-numeric-input>
        </div>
      </section>
      <section class="section half-flex">
        <div *ngIf="order.discountRate>0" class="normal-price">
          {{order.price * order.quantity}} TL
        </div>
        <div>
          {{(order.price - order.price * order.discountRate) * order.quantity | number :'.2-2'}} TL
        </div>
      </section>

      <section class="section half-flex">
        <button mat-icon-button (click)="onOrderRemove(order)">
          <mat-icon color="warn">remove_shopping_cart</mat-icon>
        </button>
      </section>
    </div>
  </div>
</main>
