<main class="container" *ngIf="orders">
  <div class="top">
    <span class="title mat-body-2">Siparişler</span>
    <mat-form-field appearance="outline" class="order-type">
      <mat-select [(value)]="currentType.key" (selectionChange)="initCurrentOrderList()">
        <mat-option *ngFor="let type of orderTypes" [value]="type.key">{{type.desc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="order" *ngFor="let order of currentList">
    <span class="order-item">{{order.date | date:'mediumDate'}}</span>
    <span class="order-item"> {{order.contactInfo.city + '/' + order.contactInfo.district}} </span>
    <span class="order-item"> {{order.products.length}} Ürün </span>
    <button mat-icon-button class="button" color="primary" (click)="navigateToDetail(order._id)">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <p></p>
  <p *ngIf="currentList.length<=0" style="text-align: center" class="mat-body-2">
    Bu kategoride sipariş yok.
  </p>
</main>
