.container {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  width: 100%;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
}

.footer {
  padding-top: 40px;
}

@media (max-width: 750px) {
  .main {
    min-height: 200px;
  }

  .footer {
    padding-top: 20px;
  }
}
