.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  min-width: 200px;
  max-width: 250px;
  position: sticky;
  top: 150px;
}

.route {
  flex: 1;
  margin-left: 10px;
}

.active {
  background-color: #b0bec5 !important;
  border-left: 6px solid #03a9f4;
  /* transform: translateX(10px); */
}

.btn {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
  background-color: #cfd8dc;
  /* transition: transform 0.25s ease-in; */
  border-radius: 0 20px 20px 0;
}

.btn:hover {
  background-color: #b0bec5;
}
