<main class="container">
  <form [formGroup]="form" *ngIf="inited" class="form">
    <mat-form-field class="field">
      <mat-label>Tel No</mat-label>
      <span matPrefix>0 &nbsp;</span>
      <input
        type="tel"
        matInput
        maxlength="13"
        minlength="13"
        formControlName="phone"
        (keypress)="onKeypress()"
        required
      />
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error
        *ngIf="(form.get('phone').hasError('required') || form.get('phone').hasError('isNull') )&& form.get('phone').touched"
      >
        *Telefon zorunlu.
      </mat-error>
      <mat-error
        *ngIf="form.get('phone').hasError('maxlength') || form.get('phone').hasError('minlength')"
      >
        *Telefon numarası 10 haneli olmalıdır.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Şehir</mat-label>
      <input matInput formControlName="city" required />
      <mat-error
        *ngIf="(form.get('city').hasError('required') || form.get('city').hasError('isNull') )&& form.get('city').touched"
      >
        *Şehir zorunlu.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>İlçe</mat-label>
      <input matInput formControlName="district" required />
      <mat-error
        *ngIf="(form.get('district').hasError('required') || form.get('district').hasError('isNull') )&& form.get('district').touched"
      >
        *İlçe zorunlu.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Adres</mat-label>
      <textarea matInput formControlName="address" required></textarea>
      <mat-error
        *ngIf="(form.get('address').hasError('required') || form.get('address').hasError('isNull') )&& form.get('address').touched"
      >
        *Adres zorunlu.
      </mat-error>
    </mat-form-field>
  </form>
</main>
