<main class="container">
  <div class="photos" [ngStyle]="{'height' : height + 'px','width' : width  + 'px'}">
    <div class="cover" #cover>
      <div
        class="current-photo"
        *ngFor="let photo of photos"
        (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)"
        (mousemove)="onMouseMove($event)"
        id="curr-{{photo._id}}"
        [ngStyle]="{'background-image' : 'url(' + photo.path + ')', 'width' : width  + 'px', 'height' : height + 'px'}"
      ></div>
    </div>
  </div>

  <section class="all-mini-photos" [style.maxWidth]="width + 'px'">
    <img
      class="mini-photo"
      *ngFor="let photo of photos;let i = index"
      (click)="changePhoto(i)"
      [id]="photo._id"
      [src]="photo.path"
      alt="Taşer Züccaciye"
    />
  </section>
</main>
