<main class="container">
  <div class="photos" [ngStyle]="{'height' : height + 'px','width' : width  + 'px'}">
    <div class="cover" [ngStyle]="{'height' : height + 'px'}" #cover>
      <div
        class="current-photo"
        *ngFor="let photo of photos"
        (mouseenter)="!isMobile ? onMouseEnter($event) : ''"
        (mouseleave)="!isMobile ?  onMouseLeave($event) : ''"
        (mousemove)="!isMobile ? onMouseMove($event) : ''"
        id="curr-{{photo._id}}"
        [ngStyle]="{'background-image' : 'url(' + photo.path + ')', 'width' : width  + 'px', 'height' : height + 'px'}"
      ></div>
    </div>
  </div>

  <section class="all-mini-photos" [style.maxWidth]="width + 'px'">
    <div
      class="mini-photo"
      *ngFor="let photo of photos;let i = index"
      (click)="changePhoto(i,photo._id)"
      [ngStyle]="{'background-image':  'url(' + photo.path + ')'}"
      [id]="photo._id"
    ></div>
  </section>
</main>
