.container {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}

.star-container {
  margin-right: 2px;
  height: 100%;
  position: relative;
}

.percent-star {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.star {
  height: 100%;
  width: 100%;
}
