.header-top-container {
    background-color: whitesmoke;
    padding: 20px 0;
    transition: padding 0.35s ease-in-out;
    /* max-width: 1200px; */
}

.content {
    max-width: 1200px;
    margin: auto;
    display: flex;

}

.full {
    flex-grow: 1;
}

.center {
    text-align: center;
}

.content-item {
    padding: 5px;
}