<div class="container">
  <mat-card>
    <mat-card-title>Giriş Yap</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="E-Mail"
            name="email"
            autocomplete="email"
            formControlName="email"
            inputmode="email"
          />
          <mat-error *ngIf="form.get('email').hasError('required')&& form.get('email').touched">
            *Email alanı zorunlu.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input
            type="password"
            matInput
            placeholder="Şifre"
            name="password"
            autocomplete="current-password"
            formControlName="password"
          />
          <mat-error *ngIf="form.get('password').hasError('required')&& form.get('email').touched">
            *Şifre alanı zorunlu.
          </mat-error>
        </mat-form-field>

        <div class="button">
          <button
            type="submit"
            class="login-button"
            color="primary"
            [disabled]="!form.valid"
            mat-flat-button
          >
            Giriş Yap
          </button>
        </div>
        <div class="or">veya</div>
        <div class="button">
          <button class="login-button" color="warn" (click)="authWithGoogle()" mat-raised-button>
            Google ile Giriş Yap
          </button>
        </div>
      </form>
    </mat-card-content>
    <p class="center"><a class="link" routerLink="/auth/reset-request">Şifreni mi unuttun?</a></p>
  </mat-card>
  <mat-card style="margin-top: 10px">
    <p class="center">Hesabın yok mu? <a class="link" routerLink="/auth/register">Kaydol</a></p>
  </mat-card>
</div>
