<main class="container mat-elevation-z2" routerLink="/product-detail/{{product._id}}">
  <div
    class="img"
    loading="lazy"
    [ngStyle]="{'background-image': 'url(' + product.photos[0].path + ')'}"
  >
    <div class="discount-badge mat-body-2" *ngIf="product.discountRate>0">
      <div class="dotted-line top-dotted"></div>
      %{{product.discountRate * 100 | number :'.0-0'}} indirim
      <div class="dotted-line bottom-dotted"></div>
    </div>
  </div>
  <div class="footer">
    <div class="brand">{{product.brand}}</div>
    <div class="name mat-body-2">{{product.name}}</div>
    <div class="star">
      <app-star
        *ngIf="product.rate>0"
        [givenRate]="product.rate"
        [width]="15"
        [height]="14"
      ></app-star>
    </div>
    <div class="price mat-body-2">
      <span *ngIf="product.discountRate>0" class="normal-price">
        {{(product.price | number: '1.2-2') + '₺'}}
      </span>
      {{(product.price - product.price * product.discountRate | number : '1.2-2') + '₺'}}
    </div>
  </div>
</main>
