<mat-dialog-content class="mat-body-1 container">
  <div>{{currentRate}}</div>
  <span
    class="star empty-star-icon"
    (mouseover)="onMouseOverStar(0)"
    (mouseleave)="onMouseLeaveStar()"
    [mat-dialog-close]="1"
    #star
  ></span>
  <span
    class="star empty-star-icon"
    (mouseover)="onMouseOverStar(1)"
    (mouseleave)="onMouseLeaveStar()"
    [mat-dialog-close]="2"
    #star
  ></span>
  <span
    class="star empty-star-icon"
    (mouseover)="onMouseOverStar(2)"
    (mouseleave)="onMouseLeaveStar()"
    [mat-dialog-close]="3"
    #star
  ></span>
  <span
    class="star empty-star-icon"
    (mouseover)="onMouseOverStar(3)"
    (mouseleave)="onMouseLeaveStar()"
    [mat-dialog-close]="4"
    #star
  ></span>
  <span
    class="star empty-star-icon"
    (mouseover)="onMouseOverStar(4)"
    (mouseleave)="onMouseLeaveStar()"
    [mat-dialog-close]="5"
    #star
  ></span>
</mat-dialog-content>