<div class="container">
  <div class="after-register text-center" *ngIf="isRegistered">
    <mat-icon class="icon success-color">check_circle_outline</mat-icon>
    <p class="mat-body-2">Kayıt işlemi başarılı!</p>
    <p class="mat-body-2">
      Lütfen mail adresinize gönderilen aktivasyon linkine tıklayarak hesabınızı aktifleştiriniz.
    </p>
    <p class="mat-body-2">
      Mail gelmediyse tekrar almak
      <span class="link" (click)="sendEmailActivationRequest()">tıklayınız</span>
    </p>
  </div>
  <mat-card *ngIf="!isRegistered">
    <mat-card-title>Üye Ol</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="register()">
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="İsim"
            name="fname"
            autocomplete="given-name"
            formControlName="firstName"
          />
          <mat-error
            *ngIf="(form.get('firstName').hasError('required') || form.get('firstName').hasError('isNull'))&& form.get('firstName').touched"
          >
            *İsim alanı zorunlu.
          </mat-error>
          <mat-error
            *ngIf="form.get('firstName').hasError('maxlength') && form.get('firstName').touched"
          >
            *50 karakterden fazla olamaz.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="soyisim"
            name="lname"
            autocomplete="family-name"
            formControlName="lastName"
          />
          <mat-error
            *ngIf="(form.get('lastName').hasError('required') || form.get('firstName').hasError('isNull'))&& form.get('lastName').touched"
          >
            *Soyisim alanı zorunlu.
          </mat-error>
          <mat-error
            *ngIf="form.get('firstName').hasError('maxlength') && form.get('firstName').touched"
          >
            *50 karakterden fazla olamaz.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="E-Mail"
            formControlName="email"
            name="email"
            autocomplete="email"
            inputmode="email"
          />
          <mat-error
            *ngIf="(form.get('email').hasError('required') || form.get('firstName').hasError('isNull'))&& form.get('email').touched"
          >
            *Email alanı zorunlu.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input
            type="password"
            matInput
            placeholder="Şifre"
            name="password"
            autocomplete="new-password"
            formControlName="password"
          />
          <mat-error
            *ngIf="(form.get('password').hasError('required') || form.get('firstName').hasError('isNull')) && form.get('password').touched"
          >
            *Şifre zorunlu.
          </mat-error>
          <mat-error
            *ngIf="form.get('password').hasError('minlength') && form.get('password').touched"
          >
            *Şifreniz en az 6 karakter uzunluğunda olmalıdır.
          </mat-error>
        </mat-form-field>
        <p>
          Üye olan kişiler,
          <span class="link" (click)="showContracts()">Üyelik Sözleşmesi'ni</span> kabul etmiş
          sayılır
        </p>
        <div class="button">
          <button
            type="submit"
            class="login-button"
            color="primary"
            [disabled]="!form.valid"
            mat-raised-button
          >
            Üye Ol
          </button>
        </div>
        <div class="or" *ngIf="isGoogleAuthActive">veya</div>
        <div class="button" *ngIf="isGoogleAuthActive">
          <button class="login-button" color="warn" (click)="authWithGoogle()" mat-raised-button>
            Google ile Üye Ol
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin-top: 10px" *ngIf="!isRegistered">
    <p class="center">Hesabın var mı? <a class="link" routerLink="/auth/login">Giriş Yap</a></p>
  </mat-card>
</div>
