.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
  margin: 5px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  width: 320px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
}

.login-button {
  width: 100%;
}

.link {
  color: rgb(93, 93, 247);
  text-decoration: underline;
  cursor: pointer;
}

.or {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #505050;
  text-transform: uppercase;
  position: relative;
}

.or::before {
  content: ' ';
  position: absolute;
  height: 1px;
  width: 42%;
  left: 0;
  background-color: #d8d8d8;
  top: 8px;
}

.or::after {
  content: ' ';
  position: absolute;
  height: 1px;
  width: 42%;
  right: 0;
  background-color: #d8d8d8;
  top: 8px;
}

.link {
  color: #0074d9;
  text-decoration: none;
}

.center {
  text-align: center;
}

.success-color {
  color: #3fcb30;
}

.icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0 5px;
  }

  mat-card {
    width: 90%;
  }

  .mat-form-field {
    min-width: 0;
  }

  form {
    width: 100%;
  }
}
