.card {
  width: 900px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.card-header {
  height: 20px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(226, 226, 226);
}

.contact-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 10px;
}

.product {
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex: 0.5;
  margin-right: 10px;
  margin-top: 10px;
}

.photo {
  margin: 10px;
  width: 178px;
  height: 178px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.info {
  margin-left: 10px;
  margin-top: 10px;
}

.brand {
  font-size: 16px;
  line-height: 16px;
  font-size: 600;
}

.name {
  margin-top: 10px;
}

.normal-price {
  color: rgb(143, 143, 143);
  text-decoration: line-through;
  margin-right: 5px;
}
