.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.top {
  min-height: 30px;
  display: flex;
  padding: 0 5px 0 0;
  justify-content: space-between;
  color: #999999;
  margin: 10px 0;
}

.top-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  outline: none;
}

.top-item:hover {
  color: #03a9f4 !important;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-header {
  height: 20px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(226, 226, 226);
}

.contact-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 0 10px;
}

.product {
  height: 200px;
  min-width: 432px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  /* flex: 0.5; */
  width: 45%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.photo {
  margin: 10px;
  width: 178px;
  height: 178px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.info {
  /* margin-left: 10px; */
  margin-top: 10px;
  flex: 1;
}

.brand {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.name {
  margin-top: 10px;
}

.normal-price {
  color: rgb(143, 143, 143);
  text-decoration: line-through;
  margin-right: 5px;
}

.mobile-card {
  display: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  margin-bottom: 5px;
}

.mobile-product {
  display: flex;
}

@media (hover:none) {
  .card {
    display: none;
  }

  .container {
    width: 100%;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
  }

  .mobile-card {
    display: flex;
  }

  .mobile-product {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-bottom: 5px;
  }

  .mobile-product:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .photo {
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 5px;
    border: none;
  }

  .brand {
    font-size: 14px;
    line-height: 15px;
    font-size: 600;
  }

  .info {
    margin-left: 5px;
    margin-top: 0;
  }

  .name {
    margin-top: 0;
    font-size: 12px;
  }

  .quantity {
    font-size: 12px;
  }

  .discount {
    font-size: 12px;
  }

  .price {
    font-size: 12px;
  }
}
