<main class="container">
  <section *ngIf="orderStatus === -1" class="section">
    <form [formGroup]="form" (ngSubmit)="purchaseOrder()" *ngIf="inited" class="form">
      <p>
        <mat-form-field class="field">
          <mat-label>Tel No</mat-label>
          <span matPrefix>0 &nbsp;</span>
          <input
            type="tel"
            matInput
            maxlength="13"
            minlength="13"
            formControlName="phone"
            (keypress)="onKeypress()"
            required
          />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error
            *ngIf="(form.get('phone').hasError('required') || form.get('phone').hasError('isNull') )&& form.get('phone').touched"
          >
            *Telefon zorunlu.
          </mat-error>
          <mat-error
            *ngIf="form.get('phone').hasError('maxlength') || form.get('phone').hasError('minlength')"
          >
            *Telefon numarası 10 haneli olmalıdır.
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="field">
          <mat-label>Şehir</mat-label>
          <input matInput formControlName="city" required />
          <mat-error
            *ngIf="(form.get('city').hasError('required') || form.get('city').hasError('isNull') )&& form.get('city').touched"
          >
            *Şehir zorunlu.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>İlçe</mat-label>
          <input matInput formControlName="district" required />
          <mat-error
            *ngIf="(form.get('district').hasError('required') || form.get('district').hasError('isNull') )&& form.get('district').touched"
          >
            *İlçe zorunlu.
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="field">
          <mat-label>Adres</mat-label>
          <textarea matInput formControlName="address" required></textarea>
          <mat-error
            *ngIf="(form.get('address').hasError('required') || form.get('address').hasError('isNull') )&& form.get('address').touched"
          >
            *Adres zorunlu.
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-checkbox color="primary" formControlName="contractChecked">
          <span class="check-box">Mesafeli satış sözleşmesini okudum ve kabul ediyorum. </span>
        </mat-checkbox>
        <mat-error
          *ngIf="form.get('contractChecked').hasError('required') && form.get('contractChecked').touched"
        >
          *Sözleşmeyi kabul etmek zorunludur.
        </mat-error>
      </p>
      <div class="finish-order">
        <button
          mat-raised-button
          [disabled]="!form.valid"
          type="submit"
          class="purchase-button"
          color="primary"
        >
          Siparişi Tamamla
        </button>
      </div>
    </form>
  </section>
  <section *ngIf="orderStatus === 0" class="section">
    <mat-progress-spinner
      class="example-margin"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [value]="'30'"
    >
    </mat-progress-spinner>
    <p class="mat-body-2">Lütfen Bekleyiniz...</p>
  </section>
  <section *ngIf="orderStatus === 1" class="section">
    <mat-icon aria-hidden="false" class="order-success">check_circle</mat-icon>
    <p class="mat-body-2">Siparişiniz alındı. En kısa sürede sizinle irtibata geçilecektir.</p>
  </section>
  <section *ngIf="orderStatus === 2" class="section">
    <mat-icon aria-hidden="false" class="error-icon">error</mat-icon>

    <p class="mat-body-2">İşlem sırasında bir hata meydana geldi. Tekrar deneyiniz.</p>
  </section>
</main>
