.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.field {
  width: 100%;
}

.finish-order {
  display: flex;
  justify-content: flex-end;
}

.order-success {
  width: 60px;
  height: 60px;
  font-size: 60px;
  display: block;
  color: rgb(64, 235, 64);
}

.error-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  display: block;
  color: #721f27;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
