.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 550px;
}

.field {
  width: 100%;
}

.link {
  color: rgb(93, 93, 247);
  text-decoration: underline;
  cursor: pointer;
}

.check-box {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

mat-checkbox {
  margin-right: 10px;
}

.error-color {
  color: rgba(217, 92, 92, 0.95);
}

.icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
}


@media (hover:none) {
  .container {
    margin-top: 0;
    width: 100%;
  }

  .form {
    width: 100%;
    padding: 0 5px;
  }
}
