<main class="container">
  <div class="photo" #photo>
    <!-- <p class="prop-text mat-body-2">Kapıda Ödeme ile güvenli alışveriş sizleri bekliyor</p> -->
    <!-- <p class="mat-body-2">Her türlü ev aletini uygun fiyattan alabilirsiniz.</p> -->
  </div>
  <section class="section" *ngIf="discounted">
    <div class="section-title mat-body-2">İndirimdekiler</div>
    <owl-carousel-o [options]="owlOptions">
      <ng-container *ngFor="let product of discounted">
        <ng-template carouselSlide>
          <div class="section-item">
            <app-card [product]="product"></app-card>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </section>

  <section class="section" *ngIf="mostLiked">
    <div class="section-title mat-body-2">En Çok Beğenilenler</div>
    <owl-carousel-o [options]="owlOptions">
      <ng-template carouselSlide *ngFor="let product of mostLiked">
        <div class="section-item">
          <app-card [product]="product"></app-card>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>

  <section class="section" *ngIf="newProducts">
    <div class="section-title mat-body-2">Yeni ürünler</div>
    <owl-carousel-o [options]="owlOptions">
      <ng-template carouselSlide *ngFor="let product of newProducts">
        <div class="section-item">
          <app-card [product]="product"></app-card>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>
</main>
