.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.photo {
  background-image: url(/assets/img/main.jpg);
  width: 100%;
  max-width: 1200px;
  height: 550px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prop-text {
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
}

.section-title {
  font-size: 16px;
  padding-left: 10px;
}

.section-item {
  margin: 10px auto;
  width: fit-content;
}

.wp {
  position: fixed;
  right: 15px;
  bottom: 10px;
  width: 159px;
  height: 50px;
  z-index: 2;
}

.icon {
  width: 159px;
  height: 50px;
}

.trust-section {
  display: flex;
  width: 100%;
  margin-top: 80px;
  max-width: 1200px;
}

.trust-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  flex: 1;
}

.icon-container {
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 5px;
  border: 2px solid #e0e0e0;
  line-height: 0;
}

.trust-item-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.trust-item-title {
  margin-bottom: 10px;
}

.trust-item-desc {
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .section-title {
    text-align: center;
  }

  .photo {
    width: 100%;
    height: 200px;
    margin: 0 10px;
  }

  .container {
    padding: 0;
  }

  .wp {
    right: 10px;
    bottom: 10px;
  }

  .trust-section {
    flex-direction: column;
    margin-top: 40px;
  }

  .trust-item {
    margin-bottom: 10px;
  }
}
