<main class="container">
  <div class="photo"></div>
  <section class="section" *ngIf="discounted.length >0">
    <div class="section-title mat-body-2">İndirimdekiler</div>
    <ng-container *ngTemplateOutlet="slider; context: {prods:discounted}"></ng-container>
  </section>

  <section class="section" *ngIf="mostLiked.length>0">
    <div class="section-title mat-body-2">En Çok Beğenilenler</div>
    <ng-container *ngTemplateOutlet="slider; context: {prods:mostLiked}"></ng-container>
  </section>

  <section class="section" *ngIf="newProducts.length>0">
    <div class="section-title mat-body-2">En Yeni ürünler</div>
    <ng-container *ngTemplateOutlet="slider; context: {prods:newProducts}"></ng-container>
  </section>
</main>

<ng-template #slider let-prods="prods">
  <owl-carousel-o [options]="owlOptions">
    <ng-template carouselSlide *ngFor="let prod of prods">
      <div class="section-item">
        <app-card [product]="prod"></app-card>
      </div>
    </ng-template>
  </owl-carousel-o>
</ng-template>
