.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.photo {
  background-image: url(/assets/img/main.jpg);
  width: 100%;
  max-width: 1200px;
  height: 550px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prop-text {
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
}

.section-title {
  font-size: 16px;
  padding-left: 10px;
}

.section-item {
  margin: 10px auto;
  width: fit-content;
}

.wp {
  position: fixed;
  right: 15px;
  bottom: 10px;
  width: 159px;
  height: 50px;
  z-index: 100;
}

.icon {
  width: 159px;
  height: 50px;
}

@media only screen and (max-width: 650px) {
  .section-title {
    text-align: center;
  }

  .photo {
    width: 100%;
    height: 200px;
    margin: 0 10px;
  }

  .container {
    padding: 0;
  }

  .wp {
    right: 10px;
    bottom: 10px;
  }
}
