<!-- <kendo-scrollview
  [data]="photos"
  [width]="'1024px'"
  [height]="'512px'"
  [arrows]="arrows"
  [endless]="true"
>
  <ng-template let-item="item">
    <div class="cover">
      <img src="{{item.pic}}" alt="Resim" draggable="false" class="photo" />
    </div>
  </ng-template>
</kendo-scrollview> -->
<div class="container">
  <!-- <div id="carouselExampleCaptions" class="carousel slide custom-carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let photo of photos;let i = index"
        [ngClass]="{'active': i===0}"
      >
        <img src="{{photo.pic}}" class="photo" alt="..." />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slide of photos">
      <img [src]="slide.pic" [alt]="slide.id" [title]="'Sa'"
    /></ng-template>
    <!-- <ng-container *ngFor="let slide of photos">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.pic" [alt]="slide.id" [title]="'Sa'" />
      </ng-template>
    </ng-container> -->
  </owl-carousel-o>
</div>
