.container {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  min-height: 500px;
  margin: 0 auto;
  display: flex;
}

.filters {
  min-width: 220px;
  position: sticky;
  top: 0;
}

.filters-body {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.filter-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.title {
  margin: 10px 0;
}

.sort-items {
  display: flex;
  flex-direction: column;
}

.sort-item {
  margin-top: 5px;
}

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-key {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

.search-key:hover {
  background-color: rgb(231, 231, 231);
}

.remove-key {
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}

.remove-key:hover {
  background-color: rgb(221, 221, 221);
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product {
  margin: 10px 0 0 10px;
}

.splash {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mobile-filter-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: height 0.3s ease-in-out;
  border-top: 1px solid #ccc;
  z-index: 2;
  overflow-x: hidden;
}

.mobile-filter-body {
  width: 0;
  position: fixed;
  overflow-x: hidden;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
}

.mobile-filters {
  width: 0;
  background-color: white;
  height: 100%;
  padding: 0 5px;
  transition: width 0.5s ease-in-out;
}

@media only screen and (max-width: 650px) {
  .filters {
    display: none;
  }

  .results {
    justify-content: center;
  }

  .mobile-filter-button {
    height: 40px;
  }

  .filter-item {
    padding: 0 5px 5px 5px;
  }

  .title {
    margin: 0;
  }
}
