<h3 style="font-weight: 500">Teslimat ve İade</h3>
Teslimat tarihinden itibaren 15 gün içerisinde iade edebilirsiniz.
<br />
Nasıl İade Ederim?
<br />
İletişim sekmesinden veya firmamıza ait numaralardan bize ulaşarak iade edebilirsiniz.
<br />
İade Koşulları:
<br />
Aşağıdaki mesafeli satış sözleşmelerinde cayma hakkı kullanılamamaktadır:
<br />
a)Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının
kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
<br />
b)Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin
sözleşmeler.
<br />
c)Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.
<br />
ç)Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan;
iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.
<br />
d)Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara
ilişkin sözleşmeler.
<br />
e)Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde
maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler.
<br />
f)Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibisüreli yayınların
teslimine ilişkin sözleşmeler.
<br />
g)Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşyataşıma, araba kiralama,
yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine
ilişkin sözleşmeler.
<br />
ğ)Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi
mallara ilişkin sözleşmeler.
<br />
h)Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin
sözleşmeler.
<br />
İade edeceğiniz ürünün, paketi hasar görmemiş, kullanılmamış ve kullanım hatası sonucu zarar
görmemiş olması gerekmektedir.
<br />
Ürünler kullanılmış, yıpranmış, yıkanmış bir şekilde bize ulaşırsa size geri göndermek zorunda
kalabiliriz.Bu durumda ücret iadesi yapılmaz.
<br />
İade etmek istediğiniz ürün/ürünleri tüm aksesuarları ve orijinal kutusu ile faturası ile beraber
iade etmeniz gerekmektedir.
<br />
Tek kullanımlık ürünlerin ve hızlı bozulan veya son kullanma tarihi geçme ihtimali olan ürünlerin
iadesi kabul edilmemektedir.
