<mat-dialog-content class="mat-body-1 message"> {{data.desc}} </mat-dialog-content>
<table>
  <thead>
    <tr>
      <th>Ürün Adı</th>
      <th>Miktar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of data.products">
      <td>{{prod.name}}</td>
      <td>
        <span *ngIf="prod.isActive">{{prod.availableQuantity}}</span>
        <span *ngIf="!prod.isActive">0</span>
      </td>
    </tr>
  </tbody>
</table>
<mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
    {{data.acceptButton}}
  </button>
</mat-dialog-actions>
