.current-photo {
  width: 450px;
  height: 450px;
  border: 1px solid #ccc;
  cursor: zoom-in;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.all-photo {
  height: 90px;
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.photo {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
