<div class="container">
  <h2 class="title">İletişim Kanallarımız</h2>
  <p class="desc">Aşağıdaki iletişim kanallarımızdan bize ulaşabilir veya formu doldurabilirsiniz.</p>
  <div class="contact-ways">
    <a class="contact-way-item" rel="noopener noreferrer nofollow" href="tel:05302387999">
      <mat-icon class="icon">phone</mat-icon>
    </a>
    <a
      class="contact-way-item"
      href="mailto:taser5261@gmail.com"
      rel="noopener noreferrer nofollow"
      target="_blank"
    >
      <mat-icon class="icon">mail</mat-icon>
    </a>
    <a
      class="contact-way-item"
      href="https://www.instagram.com/taserzuccaciye/?hl=tr"
      rel="noopener noreferrer nofollow"
      target="_blank"
    >
      <div class="insta-icon icon"></div>
    </a>
    <a
      class="contact-way-item"
      href="https://www.facebook.com/profile.php?id=100071668999839"
      rel="noopener noreferrer nofollow"
      target="_blank"
    >
      <div class="fb-icon icon"></div>
    </a>
    <a
      class="contact-way-item"
      href="https://wa.me/+905302387999"
      rel="noopener noreferrer nofollow"
      target="_blank"
    >
      <div class="wp-icon icon"></div>
    </a>
  </div>
  <hr class="divider" />
  <h3 class="title">İletişim Formu</h3>
  <form [formGroup]="form" (ngSubmit)="sendContactRequest()" class="form">
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Adınız"
        name="name"
        autocomplete="name"
        apperance="outline"
        formControlName="name"
      />
      <mat-error
        *ngIf="(form.get('name').hasError('required') || form.get('name').hasError('isNull')) && form.get('name').touched"
      >
        *İsim alanı zorunlu.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        inputmode="email"
        matInput
        name="email"
        autocomplete="email"
        placeholder="Mail adresiniz"
        apperance="outline"
        formControlName="email"
      />
      <mat-error
        *ngIf="(form.get('email').hasError('required') || form.get('email').hasError('isNull')) && form.get('email').touched"
      >
        *Email alanı zorunlu.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefon</mat-label>
      <input
        type="tel"
        matInput
        maxlength="14"
        minlength="14"
        name="phone"
        autocomplete="tel"
        placeholder="Telefon(0555 555 55 55)"
        apperance="outline"
        formControlName="phone"
        (keypress)="onKeypress()"
      />
      <mat-error
        *ngIf="(form.get('phone').hasError('required') || form.get('phone').hasError('isNull')) && form.get('phone').touched"
      >
        *Telefon alanı zorunlu.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="textarea-field">
      <textarea
        matInput
        placeholder="Mesajınız..."
        apperance="outline"
        formControlName="desc"
        class="text-area"
      ></textarea>
      <mat-error
        *ngIf="(form.get('desc').hasError('required') || form.get('desc').hasError('isNull')) && form.get('desc').touched"
      >
        *Mesaj alanı zorunlu.
      </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="form.invalid" type="submit">Gönder</button>
  </form>
</div>
