.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  margin-top: 16px;
}

.desc {
  text-align: center;
  padding-bottom: 5px;
}

.contact-ways {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.contact-way-item {
  margin-right: 10px;
  padding: 8px;
  color: unset;
  border: 2px solid #e0e0e0;
  line-height: 0;
  border-radius: 50%;
}

.contact-way-item:hover {
  background-color: #e0e0e0;
}

.icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.divider {
  margin: 10px 0;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.textarea-field {
  min-height: 120px;
}

.text-area {
  min-height: 120px;
}

@media (max-width: 750px) {
  .form {
    width: 95%;
  }

  .divider {
    width: 95%;
  }
}
