.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  margin-top: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.textarea-field {
  min-height: 120px;
}

.text-area {
  min-height: 120px;
}

@media only screen and (max-width: 650px) {
  .form {
    width: 95%;
  }
}
