.container {
  width: 100%;
}

.top {
  /* background-color: #cfd8dc; */
  /* background-color: #eceff1; */
  background-color: whitesmoke;
  /* background-color: #eceff1; */
  padding: 20px 0;
  transition: padding 0.35s ease-in-out;
}

.logo-content {
  cursor: pointer;
  outline: none;
  width: fit-content;
  margin: 0 auto;
}

.logo {
  width: 60px;
  height: 60px;
  outline: none;
}

.logo-text {
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  font-style: italic;
  user-select: none;
}

.mobile {
  display: none;
}

.mobile-nav-menu {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  overflow-x: hidden;
}

.items {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  flex: 1;
}

.brand {
  flex: 0.5;
}

.search {
  padding: 0 15px;
}

.input-container {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  height: 40px;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 35px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #303030;
}

.search-result {
  display: flex;
  justify-content: space-between;
}

.search-prod {
  max-width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-brand {
  margin-left: 30px;
  color: rgb(150, 150, 150);
}

.search-icon {
  cursor: pointer;
  margin: auto;
}

.tools {
  flex: 0.6;
  justify-content: flex-end;
  padding-right: 20px;
}

.navbar {
  /* background-color: #eceff1; */
  background: linear-gradient(180deg, #ffffff 0%, #eceff1 100%);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  padding: 5px 0;
  color: #555;
  max-width: 1200px;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 40px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.nav:hover {
  color: #03a9f4;
  border-bottom: 3px solid #03a9f4;
}

.active {
  color: #03a9f4;
  border-bottom: 3px solid #03a9f4;
}

.cart {
  position: relative;
}

.custom-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  z-index: 100;
  background-color: #f44336;
}

@media only screen and (max-width: 650px) {
  .top {
    padding: 5px 2px 10px 2px;
  }

  .tools {
    display: none;
  }

  .mobile-brand {
    display: flex;
    align-items: center;
    outline: none;
  }

  .brand {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
  }

  .items {
    flex-direction: column;
  }

  .search {
    padding: 0 5px;
    order: 3;
  }

  .navbar {
    display: none;
  }

  .logo-text {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    font-style: italic;
  }
}
