<main class="container" *ngIf="products">
  <section class="top">
    <div class="items">
      <div class="brand center">
        <img src="assets/img/logo.png" routerLink="main" alt="logo" class="logo" />
      </div>
      <div class="search center">
        <div class="input-container">
          <input
            type="text"
            class="input"
            placeholder="Aradığınız ürün veya markayı yazınız..."
            matInput
            [matAutocomplete]="auto"
            (keyup)="onKeyup()"
            [(ngModel)]="searchKey"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let prod of filteredProducts"
              [value]="prod.name"
              (onSelectionChange)="onSelectionChange(prod)"
            >
              <div class="search-result">
                <div class="search-prod">{{prod.name}}</div>
                <div class="search-brand">
                  <span class="mat-small" style="margin: auto 0"> {{prod.brand}} </span>
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="search-icon" (click)="onSerchClick()">search</mat-icon>
        </div>
      </div>
      <div class="tools center">
        <button mat-button routerLink="cart" class="cart" *ngIf="(this.authService.isAuth | async)">
          <mat-icon> shopping_cart</mat-icon>
          <span class="icon-text">Sepetim</span>
          <div class="custom-badge" *ngIf="(this.cartService.cart | async).length>0">
            {{(this.cartService.cart | async).length}}
          </div>
        </button>
        <button mat-button routerLink="login" *ngIf="(this.authService.isAuth | async) === false">
          <mat-icon>login</mat-icon> <span class="icon-text">Giriş Yap</span>
        </button>
        <button
          mat-button
          routerLink="register"
          *ngIf="(this.authService.isAuth | async) === false"
        >
          <mat-icon>person_add_alt_1</mat-icon> <span class="icon-text">Üye Ol</span>
        </button>
        <button mat-button [matMenuTriggerFor]="deskMenu" *ngIf="(this.authService.isAuth | async)">
          <mat-icon>account_circle</mat-icon>
          <span class="icon-text">Hesabım</span>
        </button>
        <mat-menu #deskMenu="matMenu">
          <button mat-menu-item routerLink="orders">
            <mat-icon>pending_actions</mat-icon> <span class="icon-text">Siparişlerim</span>
          </button>
          <button mat-menu-item routerLink="user-info">
            <mat-icon>manage_accounts</mat-icon> <span class="icon-text">Hesap Bilgilerim</span>
          </button>
          <button
            mat-menu-item
            routerLink="mn-message-box"
            *ngIf="(this.authService.role | async) === roles.admin && (this.authService.isAuth | async)"
          >
            <mat-icon>email</mat-icon> <span class="icon-text">Mesajlar</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon> <span class="icon-text">Çıkış</span>
          </button>
        </mat-menu>
      </div>
      <div class="mobile">
        <button mat-icon-button (click)="onMobileNavMenuClick()">
          <mat-icon>reorder</mat-icon>
        </button>
        <div class="mobile-brand" style="display: flex; align-items: center">
          <img src="assets/img/logo.png" alt="" style="width: 60px; height: 25px" />
        </div>
        <div class="mobile-tools">
          <button mat-icon-button routerLink="cart" *ngIf="(this.authService.isAuth | async)">
            <mat-icon
              [matBadge]="(this.cartService.cart | async).length"
              matBadgeColor="warn"
              matBadgeSize="small"
            >
              shopping_cart</mat-icon
            >
          </button>
          <button
            mat-icon-button
            routerLink="login"
            *ngIf="(this.authService.isAuth | async) === false"
          >
            <mat-icon>login</mat-icon>
          </button>
          <button
            mat-icon-button
            routerLink="register"
            *ngIf="(this.authService.isAuth | async) === false"
          >
            <mat-icon>person_add_alt_1</mat-icon>
          </button>
          <button
            mat-icon-button
            [matMenuTriggerFor]="mobileMenu"
            *ngIf="(this.authService.isAuth | async)"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #mobileMenu="matMenu">
            <button mat-menu-item routerLink="orders">
              <mat-icon>pending_actions</mat-icon>Siparişlerim
            </button>
            <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Çıkış Yap</button>
          </mat-menu>
        </div>
      </div>
      <div class="mobile-nav-menu" #mobileNavMenu>
        <button
          mat-button
          routerLink="main"
          class="mobile-nav-item"
          (click)="onMobileNavMenuClick()"
        >
          ANA SAYFA
        </button>
        <button
          mat-button
          class="mobile-nav-item"
          *ngFor="let category of categories"
          (click)="navigateToFilteredPage(category.name)"
        >
          {{category.name | uppercase}}
        </button>
        <button
          mat-button
          routerLink="contact"
          class="mobile-nav-item"
          (click)="onMobileNavMenuClick()"
        >
          İLETİŞİM
        </button>
      </div>
    </div>
  </section>
  <section class="navbar mat-elevation-z1">
    <div class="navbar-container">
      <button mat-button routerLink="main" class="nav">ANA SAYFA</button>
      <button
        mat-button
        class="nav"
        routerLink="mn-orders"
        *ngIf="(this.authService.role | async) === roles.admin && (this.authService.isAuth | async)"
      >
        SİPARİŞLER
      </button>
      <button
        mat-button
        class="nav"
        routerLink="mn-products"
        *ngIf="(this.authService.role | async) === roles.admin && (this.authService.isAuth | async)"
      >
        ÜRÜNLER
      </button>
      <button
        mat-button
        class="nav"
        routerLink="mn-new-product"
        *ngIf="(this.authService.role | async) === roles.admin && (this.authService.isAuth | async)"
      >
        ÜRÜN EKLE
      </button>
      <button
        mat-button
        class="nav"
        *ngFor="let category of categories"
        (click)="navigateToFilteredPage(category.name)"
      >
        {{category.name | uppercase}}
      </button>
      <button mat-button routerLink="contact" class="nav">İLETİŞİM</button>
    </div>
  </section>
</main>
