.header-bottom-container {
    background: linear-gradient(180deg, #ffffff 0%, #eceff1 100%);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navs {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-left: 0;
}

.nav {
    padding: 5px;
    text-transform: capitalize;
}