<main class="container" *ngIf="currentList">
  <div class="top">
    <span class="title mat-body-2">Ürünlerim</span>
    <mat-form-field appearance="outline" class="order-type">
      <mat-select [(value)]="state.category" (selectionChange)="onSelectionChange($event)">
        <mat-option
          *ngFor="let category of (categoryService.categories| async)"
          [value]="category.name"
          >{{category.name | uppercase}}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="products" *ngFor="let product of currentList">
    <span class="name flex">{{product.name}}</span>
    <span class="brand"> {{product.brand}} </span>
    <span class="half-flex">
      <span *ngIf="product.isActive">
        <mat-icon class="visible">visibility</mat-icon>
      </span>
      <span *ngIf="!product.isActive">
        <mat-icon class="not-visible">visibility_off</mat-icon>
      </span>
    </span>
    <span class="half-flex">
      <div class="normal-price" *ngIf="product.discountRate>0">
        {{product.price | number:'.2-2'}} TL
      </div>
      {{product.price - (product.price * product.discountRate) | number:'.2-2'}} TL
    </span>
    <span class="half-flex">
      {{product.rate}}
      <span class="star-icon star"></span>
    </span>
    <span class="half-flex">
      <button
        mat-icon-button
        class="button"
        color="primary"
        (click)="navigateToDetail(product._id)"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </span>
  </div>
  <p></p>
  <p *ngIf="currentList.length<=0" style="text-align: center" class="mat-body-2">
    Bu kategoride ürün yok.
  </p>
</main>
