<h2>Satış Sözleşmesi</h2>

Tüm kullanıcılar, üyelik işlemlerini gerçekleştirdikleri anda şatış sözleşmesini okuduklarını ve
onayladıklarını kabul etmiş sayılırlar.
<br />
<br />
<div class="mat-body-2">Satış Sözleşmesi</div>
Taserzuccaciye.com ile Müşteri arasındaki Sanal Ortamda Satış Sözleşmesidir.
<br />
<br />
<div class="mat-body-2">Madde 1</div>
<div class="mat-body-2">KONU</div>
<br />
İşbu Sözleşme, Alıcının Satıcıya ait taserzuccaciye.com internet sitesinden siparişini yaptığını ve
alıcı tarafından elektronik ortamda doldurulan Sözleşme konusu sipariş formu altında nitelikleri ve
satış fiyatı yer alan ürünlerin satış ve teslimi ile ilgili olarak, 6502 sayılı Tüketicilerin
Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince Tarafların hak ve
yükümlülüklerini kapsamaktadır.
<br />
<br />
<div class="mat-body-2">Madde 2</div>
<div class="mat-body-2">SATICI BİLGİLERİ</div>
<br />
<div>Unvan: Ramazan Er – Taşer</div>
<div>Adres: Turgutreis mahallesi Malazgirt caddesi No:16 Sultanbeyli/İstanbul</div>
<div>Telefon: 0 530 238 79 99</div>
<div>E-posta: taser5261@gmail.com</div>
<br />
<div class="mat-body-2">Madde 3</div>
<div class="mat-body-2">ALICI BİLGİLERİ</div>
<br />
Alıcı, işbu Sözleşme konusu sipariş forumunu elektronik ortamda doldurarak Satıcı’ya ileten (i)
taserzuccaciye.com alışveriş sitesine üye olan kişiyi; ya da (ii) sipariş verilirken ayrıca
bildirilen kişiyi ifade eder. Sipariş formu altında ayrıca bu hususta bir bildirimde bulunulmaması
durumunda sipariş formunu dolduran kişi işbu Sözleşme çerçevesinde Alıcı olarak kabul edilecektir.
<br />
<br />
<div class="mat-body-2">Madde 4</div>
<div class="mat-body-2">SÖZLEŞME KONUSU ve ÜRÜN BİLGİLERİ</div>
<br />
Mal/ürün veya hizmetin; türü, miktarı, markası/modeli, rengi, adedi, satış bedeli ve ödeme şekli,
sitede belirtildiği gibi olup, bu vaatler alıcıya bildirilmeden değişiklik gösterebilmektedir.
Sözleşme konusu ürüne dair özellikler ile ürün adedi, cinsi, miktarı/adedi, satış bedeli, ödeme
şekli ve teslimat süresi Sözleşme konusu sipariş formu altında yer almaktadır. Sipariş formu, Alıcı
ile Satıcı arasında işbu koşul ve şartların kabulü ertesinde siparişin tamamlanması ile kurulacak
Mesafeli Satış Sözleşmesi’nin ayrılmaz bir parçasıdır.
<br />
<br />
<div class="mat-body-2">Madde 5</div>
<div class="mat-body-2">GENEL HÜKÜMLER</div>
<br />
<div>
  5.1. Alıcı, yukarıda “Madde 4” altında bahsi geçen Sözleşme konusu ürün veya ürünlerin temel
  nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin tüm ön bilgileri okuyarak bilgi
  sahibi olduğunu ve elektronik ortamda sipariş formunu ileterek işbu Ön Bilgilendirme Formu ve
  sipariş formu altında yer alan koşul ve şartlara onay vermiş olduğunu kabul ve beyan eder.
</div>
<div>
  5.2. İşbu Sözleşme ile Satıcı, Alıcı tarafından işbu Ön Bilgilendirme Formu altında yer alan koşul
  ve şartların Alıcı tarafından kabul edilmiş olması ve Sözleşme konusu ürün bedelinin Alıcı’nın
  tercih ettiği ödeme şekli ile ödenmiş olması kaydıyla, Sözleşme konusu ürünü eksiksiz, sağlam ve
  siparişte belirtilen niteliklere uygun surette teslim edilmesinden sorumludur. Herhangi bir
  nedenle ürün bedelinin Satıcı’ya ödenmemesi durumunda, Satıcı ürünü teslim yükümlülüğünden
  kurtulmuş kabul edilir.
</div>
<div>
  5.3. Sözleşme konusu ürün veya ürünler, her bir ürün için Alıcı’nın yerleşim yerinin uzaklığna
  bağlı olarak sipariş tarihinden itibaren 30 (otuz) günlük süreyi aşmamak koşulu ile ön bilgiler
  içinde açıklanan süre içinde Alıcı veya gösterdiği adresteki kişi/kuruluşa teslim edilir.
</div>

<div>
  5.4.Teslimat, Alıcı’nın teslimat adresi olarak belirttiği adrese kargo şirketi aracılığı ile
  yapılır. Aksi belirtilmediği takdirde teslimat ücreti ürün bedeline dahil değildir, Alıcı
  tarafından karşılanacaktır.
</div>
<div>
  5.5. Sipariş formu altında Alıcı tarafından Sözleşme konusu ürünün Alıcı’dan başka bir
  kişi/kuruluşa teslim edileceğine yer verilmesi ya da Alıcı tarafından bildirilen adreste teslimat
  anında Alıcı’nın bulunmaması durumunda, Sözleşme konusu ürünün teslim edilecek kişi/kuruluşun
  teslimatı kabul etmemesinden ya da teslimatı yapacak olan nakliyecinin Alıcı haricindeki kişilere
  teslimat yapmamış olmasından Satıcı sorumlu tutulamaz. Kargo firmasının, ürünü Alıcı’ya teslimi
  aşamasında karşılaşacağı her türlü sorun nedeniyle, siparişi verilen ürünün Alıcı’ya teslim
  edilememesinden dolayı Satıcı sorumlu tutulamaz.
</div>
<div>
  5.6. Kredi kartı, banka kartı ve/veya debit kartı ve internet sitesinde sunulan diğer ödeme
  sistemleri ile ödeme yapılan hallerde, Sözleşme konusu ürünün teslimi ertesinde ilgili banka veya
  finans kuruluşu tarafından ürün bedelinin alımda kullanılan kredi kartından kaynaklanan bir
  nedenle Satıcı’ya ödenmemesi durumunda, Alıcı, nakliye masrafları kendisine ait olmak üzere,
  kendisine teslim edilmiş olan ürünü en geç 3 (üç) gün içinde Satıcı’ya kendisine teslim edildiği
  şekilde iade edecektir.
</div>
<div>
  5.7. Satıcı, Sözleşme konusu ürünlerin nakliyeciye ya da Alıcı’ya teslimini veya nakliyesini
  engelleyen mücbir sebepler nedeni ile sözleşme konusu ürünü süresi içinde teslim edemeyecek olması
  halinde durumu en kısa sürede e-posta ya da telefon yoluyla Alıcı’ya bildirecektir.
</div>
<div>
  5.8. Satıcı, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkansızlaşması halinde
  sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, sözleşmeden doğan ifa
  yükümlülüğünün süresi dolmadan tüketiciye bildirir ve stoklarında bulunması halinde Alıcı’ya eşit
  kalite ve fiyatta farklı bir ürün tedarik edebilir.
</div>
<div>
  5.9. Teslimi ya da nakliyeyi engelleyen mücbir sebeplerin olması veya nakliyeyi engelleyen hava
  muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumların bulunması nedeniyle, Alıcı, sözleşme
  konusu ürünün varsa emsali ile değiştirilmesini ya da teslimatı engelleyici durumun ortadan
  kalkmasına kadar teslimatın ertelenmesini ya da ürünün tesliminin mümkün olmamasına dair
  sebeplerin varlığı hâlinde siparişin iptal edilmesini talep edebilecektir. Siparişin iptal
  edildiği hallerde Alıcı tarafından ödenmiş olan tutar 7 (yedi) gün içinde kendisine nakden ve
  defaten ödenir.Alıcı’nın kredi kartı, banka kartı ve/veya debit kartı ve İnternet Sitesinde
  sunulan diğer ödeme sistemleri ile yaptığı ödemelerde ise, ürün tutarı, siparişin Alıcı tarafından
  iptal edilmesinden sonra 7 gün içerisinde ilgili bankaya iade edilir. İninal Kart ile yapılan
  ödemelerde ise ürün tutarı siparişin Alıcı tarafından iptal edilmesinden sonra 24 saat içerisinde
  kullanıcının Innial Kart hesabına iade edilir. Bu tutarın bankaya ve/veya İninal Kart hesabına
  iadesinden sonra Alıcı hesaplarına yansıması tamamen banka ve/veya İninal Kart işlem süreci ile
  ilgili olup, Satıcı’nın bu hususa ilişkin herhangi bir şekilde müdahalede bulunması mümkün
  olamamaktadır.
</div>
<div>
  5.10. SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve
  varsa garanti belgeleri ve kullanım kılavuzları ile birlikte teslim edilmesinden sorumludur.
</div>
<div>
  5.11. Sözleşme konusu ürünün teslimatı için iş bu sözleşmenin elektronik ortamda onaylanmış olması
  ve satış bedelinin ALICI’nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Herhangi bir
  nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün teslimi
  yükümlülüğünden kurtulmuş kabul edilir.
</div>
<br />
<div class="mat-body-2">Madde 6</div>
<div class="mat-body-2">CAYMA HAKKI</div>
<br />
<div>
  6.1. Alıcı, sözleşme konusu ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden
  itibaren 14 (on dört) gün içerisinde cayma hakkına sahiptir. Satıcı, Alıcı’nın hiçbir hukuki veya
  cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin yasal süresi olan 14 (on dört)
  günlük süresi içinde sözleşme konusunu iade ederek sözleşmeden cayma hakkının var olduğunu ve
  cayma bildiriminin kendisine ulaşmasından itibaren sözleşme konusu ürünün geri alınacağını kabul,
  beyan ve taahhüt eder.
</div>
<div>
  6.2. Cayma hakkı, bu süre içerisinde Satıcı’ya doğrudan yazılı olarak ya da işbu Sözleşme’de yer
  alan faks veya e-posta vasıtasıyla bildirimde bulunulması ve ürünün ilgili madde hükümleri
  çerçevesinde kullanılmamış olması koşuluyla kullanılabilecektir.
</div>
<div>
  6.3. Bu hakkın kullanılması halinde, ürünün Satıcı’ya gönderildiğine ilişkin kargo teslim tutanağı
  örneği ile fatura aslının Satıcı’ya iletilmesi gerekir. Aksi takdirde, tahakkuk ettirilen KDV ve
  sair kesintiler iade edilmez. Cayma hakkı nedeni ile iade edilen ürünün kargo bedeli Satıcı
  tarafından karşılanır.
</div>
<div>
  6.4. Alıcı tarafından cayma hakkının kullanılması durumunda Alıcı sözleşme konusu malı/malları
  cayma bildiriminde bulunmasından itibaren 10 (on) gün içinde Satıcı’ya geri göndermek
  durumundadır. Satıcı’ya yöneltilen cayma beyanı ile 14 (on dört) gün içinde ürün bedeli Alıcı’ya
  iade edilir.
</div>
<div>
  6.5. Kredi kartı ile yapılan alımlarda cayma hakkının kullanılması durumunda, Alıcı tarafından
  ödenen tutar tam anlamıyla karşılanmak ve Alıcı’nın hiçbir surette zararına sebebiyet vermemek
  kaydıyla, nakit iade yapılması ya da kredi kartından yapılan işlemin iptal edilmesi arasında seçim
  hakkı Satıcı’ya aittir.
</div>
<div>
  6.6. Alıcı’nın özel istek ve talepleri doğrultusunda üretilen ya da Satıcı tarafından belirli bir
  formda sunulmakta olmasına rağmen Alıcı’nın talebi üzerine üzerinde değişiklik ya da ilaveler
  yapılarak kişiye özel hale getirilen ürünlerde tüketici cayma hakkını kullanamaz.
</div>
<div>
  6.7.Aşağıdaki ürünlerde cayma hakkının kullanılması, ürünün ambalajının açılmamış, bozulmamış ve
  ürünün kullanılmamış olmasına bağlıdır: (i) Niteliği itibarıyla iade edilemeyecek ürünler, (ii)
  kullanım esnasında vücut ile birebir temas gerektiren ürünler, (iii) tesliminden sonra ambalaj,
  bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen
  açısından uygun olmayan ürünler, (iv) tek kullanımlık ürünler, (v) hızlı bozulan veya son kullanım
  tarihi geçen ürünler, (vi) tesliminden sonra başka ürünlerle karışan ve doğası gereği
  ayrıştırılması mümkün olmayan ürünler, (vii) her türlü kozmetik ürün.
</div>
<br />
<div class="mat-body-2">Madde 7</div>
<div class="mat-body-2">DİĞER HÜKÜMLER</div>
<br />
<div>
  7.1. İşbu Sözleşme’nin uygulanmasında, Sanayi ve Ticaret Bakanlığı tarafından ilan edilen değere
  kadar Tüketici Hakem Heyetleri ile Satıcı veya Alıcı’nın yerleşim yerindeki Tüketici Mahkemeleri
  yetkilidir.
</div>
<div>
  7.2. Ön Bilgilendirme Formu Alıcı tarafından incelenerek elektronik ortamda onaylanmadığı sürece
  sipariş tamamlanarak Satıcı’ya iletilemeyecektir.
</div>
<div>
  7.3. Alıcı işbu Ön Bilgilendirme Formu ve Sözleşme’yi sipariş verilmesi öncesinde incelediğini,
  işbu kapsamda düzenlenen hüküm ve şartları kabul ettiğini beyan ve taahhüt etmektedir.
</div>
