.container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.step-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  flex: 1;
}

.field {
  width: 60%;
}

.submit-button {
  width: 80%;
}

.multiple-field {
  display: flex;
  justify-content: space-between;
}

.sub-field {
  width: 30%;
}

.next-button {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
