<main class="container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>Ürün Bilgileri</ng-template>
        <div class="step-container">
          <mat-form-field class="field" appearance="outline">
            <mat-label>Ürün Adı</mat-label>
            <input type="text" matInput placeholder="Ürün adı" formControlName="name" />
            <mat-error
              *ngIf="infoForm.get('name').hasError('required') || infoForm.get('name').hasError('isNull') || infoForm.get('name').touched"
            >
              *Ürün Adı boş bırakılamaz
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Kategori</mat-label>
            <mat-select formControlName="category">
              <mat-option
                *ngFor="let category of (categoryService.categories | async)"
                [value]="category.name"
              >
                {{category.name | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Fiyat</mat-label>
            <input type="text" matInput placeholder="Fiyat" formControlName="price" />
            <mat-error
              *ngIf="infoForm.get('price').hasError('required') || infoForm.get('price').hasError('isNull')|| infoForm.get('price').touched"
            >
              *Fiyat bilgisi boş bırakılamaz
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>İndirim</mat-label>
            <input
              type="text"
              matInput
              placeholder="İndirim Oranı"
              formControlName="discountRate"
            />
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Stok Miktarı</mat-label>
            <input
              type="text"
              matInput
              placeholder="Stok miktarı"
              formControlName="stockQuantity"
            />
            <mat-error
              *ngIf="infoForm.get('stockQuantity').hasError('required') || infoForm.get('stockQuantity').hasError('isNull')|| infoForm.get('stockQuantity').touched"
            >
              *Stok miktarı giriniz.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Marka</mat-label>
            <input type="text" matInput placeholder="Marka" formControlName="brand" />
            <mat-error
              *ngIf="infoForm.get('brand').hasError('required') || infoForm.get('brand').hasError('isNull')|| infoForm.get('brand').touched"
            >
              *Bir marka ismi giriniz.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field" appearance="outline">
            <mat-label>Ürün Açıklaması</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error
              *ngIf="infoForm.get('description').hasError('required') || infoForm.get('description').hasError('isNull')|| infoForm.get('description').touched"
            >
              *Ürün açıklama alana boş bırakılamaz
            </mat-error>
          </mat-form-field>
          <div style="width: 50%; display: flex; justify-content: flex-end">
            <button mat-raised-button color="primary" matStepperNext>
              İleri <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="photosForm">
      <form [formGroup]="photosForm">
        <ng-template matStepLabel>Fotoğraflar</ng-template>
        <div class="step-container">
          <app-photo-upload (filesChange)="onFilesChange($event)" #photoUpload></app-photo-upload>
          <div
            style="width: 408px; display: flex; justify-content: space-between; margin-top: 10px"
          >
            <button mat-raised-button color="primary" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon> Geri
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              İleri <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Tamamla</ng-template>
      <div class="step-container">
        <p class="mat-body-2" style="width: 50%">Ürün bilgileri girildi. Ürünü Ekleyebilirsiniz</p>
        <div style="width: 50%; display: flex; justify-content: space-between; margin-top: 10px">
          <button mat-raised-button color="primary" matStepperPrevious>
            <mat-icon>arrow_back</mat-icon> Geri
          </button>
          <button mat-raised-button color="primary" (click)="insertProduct()">
            <mat-icon>save</mat-icon> Ürünü EKle
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</main>
