<main class="container" *ngIf="orders.length>0">
  <section class="operations">
    <app-cart-info [orders]="orders" (orderListChange)="onOrderListChange($event)"></app-cart-info>
  </section>
  <section class="summary">
    <span class="summary-title">Sipariş Özeti</span>
    <span class="summary-info">Toplam {{orders.length}} ürün</span>
    <span class="summary-info">Toplam Fiyat : {{totalCost | number:'.2'}} TL</span>
    <button kendoButton class="purchase-button bg-success" (click)="changeStatus()">
      Satın Al
    </button>
  </section>
</main>

<div *ngIf="orders.length<=0" class="empty-text">
  <h3>Sepetiniz Boş</h3>
  <p>Favori ürünlerinize veya size özel önerilerimize göz atarak alışverişe başlayabilirsiniz.</p>
</div>
