<main class="container" *ngIf="orders.length>0">
  <section class="operations">
    <mat-horizontal-stepper linear (selectionChange)="onSelectionChange()" #stepper>
      <mat-step>
        <ng-template matStepLabel>Sepeti Detayı</ng-template>
        <app-cart-info></app-cart-info>
      </mat-step>
      <mat-step [stepControl]="stateService.contactInfoForm">
        <ng-template matStepLabel>İletişim Bilgileri</ng-template>
        <app-contact-info></app-contact-info>
      </mat-step>
      <mat-step [completed]="false">
        <ng-template matStepLabel>Sipariş Onay</ng-template>
        <app-contracts *ngIf="stepper.selectedIndex === 2"></app-contracts>
      </mat-step>
    </mat-horizontal-stepper>
  </section>
  <section class="summary">
    <span class="mat-title">Sipariş Özeti</span>
    <span class="summary-info">Toplam {{orders.length}} ürün</span>
    <span class="summary-info">Toplam Fiyat : {{totalCost | number:'.2-2'}} TL</span>
  </section>
  <div class="navigate-place">
    <span class="mat-body-2">Toplam : {{totalCost | number:'.2-2'}} TL </span>
    <button mat-flat-button color="primary" (click)="this.toggleStepper()">
      <span *ngIf="cartStepActive">Ödeme Yap</span>
      <span *ngIf="!cartStepActive">Sepeti Göster</span>
    </button>
  </div>
</main>

<div *ngIf="orders.length<=0" class="empty-text">
  <h3>Sepetiniz Boş</h3>
  <p>Favori ürünlerinize veya size özel önerilerimize göz atarak alışverişe başlayabilirsiniz.</p>
</div>
