.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.operations {
  width: 900px;
}

.summary {
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 72px;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.summary-title {
  font-weight: bold;
  font-size: 18px;
  padding: 2px 0 10px 0;
}

.summary-info {
  font-weight: 500;
  font-size: 14px;
  padding: 2px 0 5px 0;
}

.empty-text {
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .container {
    margin-top: 0;
  }

  .operations {
    width: 100%;
  }

  .summary {
    display: none;
  }
}
