.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.operations {
  width: 900px;
}

.summary {
  width: 180px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #ccc;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); */
}

.summary-title {
  font-weight: bold;
  font-size: 18px;
  padding: 2px 0 10px 0;
}

.summary-info {
  font-weight: 500;
  font-size: 14px;
  padding: 2px 0 10px 0;
}

.empty-text{
  text-align: center;
}
