.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.operations {
  width: 900px;
}

.summary {
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 72px;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.summary-title {
  font-weight: bold;
  font-size: 18px;
  padding: 2px 0 10px 0;
}

.summary-info {
  font-weight: 500;
  font-size: 14px;
  padding: 2px 0 5px 0;
}

.empty-text {
  padding-top: 20px;
  text-align: center;
  min-height: 200px;
}

.navigate-place {
  position: fixed;
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
  border-top: 1px solid #ccc;
  overflow-x: hidden;
}

@media only screen and (max-width: 650px) {
  .container {
    margin-top: 10px;
  }

  .operations {
    width: 100%;
  }

  .navigate-place {
    padding: 10px;
    display: flex;
    height: fit-content;
  }

  .summary {
    display: none;
  }

  :host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  :host ::ng-deep .mat-horizontal-content-container {
    padding: 0 5px 5px 5px !important;
  }
}
