.container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.top {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  /* padding: 5px 0 0 10px; */
  width: 450px;
  height: 445px;
  position: relative;
  /* border: 1px solid #ccc; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 0 20px;
}

.field {
  width: 90%;
  padding-bottom: 4px;
}

.radio-buttons {
  padding-bottom: 20px;
}

.info-item {
  padding-top: 5px;
}

.title {
  font-size: 16px;
}

.rate {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.desc {
  padding-top: 10px;
}

.remove-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.actions {
  position: absolute;
  top: 20px;
  right: 0;
}

.lira {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.textarea-field {
  width: 90%;
  min-height: 100px;
}

.text-area {
  width: 100%;
  min-height: 100px;
}

.photos {
  padding-top: 20px;
}
