<form *ngIf="form" [formGroup]="form" (ngSubmit)="update()" class="form">
  <mat-form-field appearance="outline" class="field">
    <mat-label>Email</mat-label>
    <input type="text" [disabled]="true" matInput [value]="user.email" />
  </mat-form-field>

  <div class="same-line">
    <mat-form-field appearance="outline" class="half-field">
      <mat-label>İsim</mat-label>
      <input type="text" matInput placeholder="İsim" formControlName="firstName" />
      <mat-error
        *ngIf="(form.get('firstName').hasError('required') || form.get('firstName').hasError('isNull')) && form.get('firstName').touched"
      >
        *İsim alanı zorunlu.
      </mat-error>
      <mat-error
        *ngIf="form.get('firstName').hasError('maxlength') && form.get('firstName').touched"
      >
        *30 karakterden fazla olamaz.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-field">
      <mat-label>Soyisim</mat-label>
      <input type="text" matInput placeholder="Soyisim" formControlName="lastName" />
      <mat-error
        *ngIf="(form.get('lastName').hasError('required') || form.get('lastName').hasError('isNull')) && form.get('lastName').touched"
      >
        *Soyisim alanı zorunlu.
      </mat-error>
      <mat-error *ngIf="form.get('lastName').hasError('maxlength') && form.get('lastName').touched">
        *30 karakterden fazla olamaz.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="field">
    <mat-label>Tel No</mat-label>
    <span matPrefix>0 &nbsp;</span>
    <input type="tel" matInput maxlength="13" minlength="13" formControlName="phone" required />
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error
      *ngIf="(form.get('phone').hasError('required') || form.get('phone').hasError('isNull') )&& form.get('phone').touched"
    >
      *Telefon zorunlu.
    </mat-error>
    <mat-error
      *ngIf="form.get('phone').hasError('maxlength') || form.get('phone').hasError('minlength')"
    >
      *Telefon numarası 10 haneli olmalıdır.
    </mat-error>
  </mat-form-field>

  <div class="same-line">
    <mat-form-field appearance="outline" class="half-field">
      <mat-label>Şehir</mat-label>
      <mat-select formControlName="city" (selectionChange)="onCityChange($event)">
        <mat-option *ngFor="let city of cities " [value]="city.city"> {{city.city}} </mat-option>
      </mat-select>
      <mat-error
        *ngIf="(form.get('city').hasError('required') || form.get('city').hasError('isNull') )&& form.get('city').touched"
      >
        *Şehir zorunlu.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-field">
      <mat-label>İlçe</mat-label>
      <mat-select formControlName="district">
        <mat-option *ngFor="let district of selectedCity.districts " [value]="district">
          {{district}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="(form.get('district').hasError('required') || form.get('district').hasError('isNull') )&& form.get('district').touched"
      >
        *İlçe zorunlu.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="field">
    <mat-label>Açık Adres</mat-label>
    <textarea matInput placeholder="Açık Adres" formControlName="address"></textarea>
    <mat-error
      *ngIf="(form.get('address').hasError('required') || form.get('address').hasError('isNull') )&& form.get('address').touched"
    >
      *Adres zorunlu.
    </mat-error>
  </mat-form-field>

  <button mat-flat-button [disabled]="form.invalid" type="submit" color="primary">Güncelle</button>
</form>
