<main class="container">
  <div class="content">
    <section class="section">
      <div class="section-title mat-title">İletişim</div>
      <div class="section-content">
        <div class="section-item">
          <mat-icon style="margin-right: 5px">location_on</mat-icon> Turgutreis mahallesi Malazgirt
          caddesi No:16
        </div>
        <div class="section-item">
          <mat-icon style="margin-right: 5px">phone</mat-icon>
          <a class="none" href="tel:05302387999">+90 530 238 79 99</a>
        </div>
        <div class="section-item">
          <mat-icon style="margin-right: 5px">mail</mat-icon>
          <a class="none" href="mailto:taser5261@gmail.com" rel="nofollow" target="_blank">
            taser5261@gmail.com
          </a>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Genel</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="main">Ana Sayfa</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="regulations/about">Hakkımızda</div>
        </div>
        <!-- <div class="section-item">
          <div class="link" routerLink="regulations/privacy-policy">Gizlilik Politikası</div>
        </div> -->
        <div class="section-item">
          <div class="link" routerLink="regulations/sales-contract">Satış Sözleşmesi</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="regulations/register-contract">Üyelik Sözleşmesi</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="regulations/withdrawal">Teslimat ve İade</div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Servis</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="contact">İletişim</div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Sosyal Medya</div>
      <div class="section-content">
        <div class="section-item">
          <a class="link" href="https://www.instagram.com/taserzuccaciye/?hl=tr" target="_blank">
            <img src="assets/img/insta-icon.svg" alt="Taşer Züccaciye instagram" class="social-icon" />
          </a>
          <div class="link" routerLink="main">
            <img src="assets/img/fb-icon.svg" alt="Taşer Züccaciye facebook" class="social-icon" />
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="payment-ways">
    <div class="license-text">©{{currentYear}} TAŞER - Tüm Hakları Saklıdır.</div>
    <img src="assets/img/payment-logos.svg" class="payment-logos" alt="Taşer Züccaciye payment" />
  </div>
</main>
