<main class="container">
  <div class="content">
    <section class="section">
      <div class="section-title mat-title">İletişim</div>
      <div class="section-content">
        <div class="section-item">
          <mat-icon style="margin-right: 5px">location_on</mat-icon>
          {{configService.config.contact.address}}
        </div>
        <div class="section-item">
          <mat-icon style="margin-right: 5px">phone</mat-icon>
          <a
            class="none"
            rel="noopener noreferrer nofollow"
            [href]="configService.config.contact.phone.value"
          >
            {{configService.config.contact.phone.text}}
          </a>
        </div>
        <div class="section-item">
          <mat-icon style="margin-right: 5px">mail</mat-icon>
          <a
            class="none"
            [href]="'mailto:' + configService.config.contact.mailAdress"
            rel="noopener noreferrer nofollow"
            target="_blank"
          >
            {{configService.config.contact.mailAdress}}
          </a>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Genel</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="main">Ana Sayfa</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="regulations/about">Hakkımızda</div>
        </div>
        <!-- <div class="section-item">
          <div class="link" routerLink="regulations/privacy-policy">Gizlilik Politikası</div>
        </div> -->
        <div class="section-item">
          <div class="link" routerLink="regulations/sales-contract">Satış Sözleşmesi</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="regulations/register-contract">Üyelik Sözleşmesi</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="regulations/withdrawal">Teslimat ve İade</div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Servis</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="contact">İletişim</div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Sosyal Medya</div>
      <div class="section-content">
        <div class="section-item">
          <a
            class="link"
            [href]="configService.config.social.instagram"
            rel="noopener noreferrer nofollow"
            target="_blank"
          >
            <div class="insta-icon social-icon"></div>
          </a>
          <a
            class="link"
            [href]="configService.config.social.facebook"
            rel="noopener noreferrer nofollow"
            target="_blank"
          >
            <div class="fb-icon social-icon"></div>
          </a>
          <a
            class="link"
            [href]="configService.config.social.whatsApp"
            rel="noopener noreferrer nofollow"
            target="_blank"
          >
            <div class="wp-icon social-icon"></div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="payment-ways">
    <div class="license-text">©{{currentYear}} TAŞER - Tüm Hakları Saklıdır.</div>
    <div class="payment-logos payment-logo"></div>
  </div>
</main>
