<main class="container">
  <div class="content">
    <section class="section">
      <div class="section-title mat-title">İletişim Bilgileri</div>
      <div class="section-content">
        <div class="section-item">
          <mat-icon style="margin-right: 5px">location_on</mat-icon> Mecidiye mahallesi Songül Sokak
          No:19 daire 2
        </div>
        <div class="section-item">
          <mat-icon style="margin-right: 5px">phone</mat-icon> +90 531 568 43 09
        </div>
        <div class="section-item">
          <mat-icon style="margin-right: 5px">mail</mat-icon>mail@ertrader.com
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Genel Bilgiler</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="main">Ana Sayfa</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="main">Hakkımızda</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="main">Kullanım Koşulları</div>
        </div>
        <div class="section-item">
          <div class="link" routerLink="main">Üyelik Sözleşmesi</div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Servis</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="main">İletişim</div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-title mat-title">Sosyal Medya Hesapları</div>
      <div class="section-content">
        <div class="section-item">
          <div class="link" routerLink="main">
            <img src="assets/img/insta-icon.png" alt="" class="social-icon" />
          </div>
          <div class="link" routerLink="main">
            <img src="assets/img/fb-icon.png" alt="" class="social-icon" />
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
