.container {
  background-color: rgb(15, 15, 15);
  width: 100%;
  height: 200px;
  position: relative;
  color: white;
}

.content {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.section {
  flex: 1;
  border-right: 1px solid #ccc;
  height: 80%;
  padding: 0 20px;
}

.section-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  outline: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media only screen and (max-width: 650px) {
  .container {
    height: auto;
  }

  .content {
    flex-direction: column;
    padding: 0 5px;
  }

  .section {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 5px;
  }

  .section:last-child {
    border: none;
    margin-bottom: 10px;
  }

  .section-item {
    justify-content: center;
  }
}
