@import 'assets/icon.css';

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  color: #494949;
  /* background-color: rgb(233, 233, 233); */
}

::-webkit-scrollbar-track,
.widget-content ::-webkit-scrollbar-track {
  width: 5px;
  background-color: white;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar,
.widget-content ::-webkit-scrollbar {
  width: 5px;
  height: 12px;
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb,
.widget-content ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(26, 42, 107, 0.2);
}

.bg-success {
  background-color: #3fcb30 !important;
}

.purchase-button {
  color: white !important;
  font-weight: 600;
  border: 0 solid;
  outline: none;
}

.font-label {
  font-family: inherit;
  font-size: 10px;
  line-height: 14px;
}

.font-label2 {
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
}

.font-regular {
  font-family: inherit;
  font-size: 14px;
  line-height: 19px;
}

.font-bold {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.font-bold2 {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}

.font-h2 {
  font-family: inherit;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

/* .text-primary {
  color: #5d5d5d;
} */
