.container {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  width: 100%;
}

.header {
  z-index: 10;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
}

.footer {
  padding-top: 40px;
}

.screen-holder {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1001;
}

.splash-spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .main {
    min-height: 200px;
  }

  .footer {
    padding-top: 20px;
  }

  .header {
    padding-bottom: 5px;
  }
}
