<main class="container">
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    [value]="'30'"
    *ngIf="!splashService.configInited"
    style="margin: auto"
  >
  </mat-progress-spinner>
  <app-header class="header" *ngIf="splashService.configInited"></app-header>
  <div class="main" *ngIf="splashService.configInited">
    <router-outlet></router-outlet>
  </div>
  <app-footer
    class="footer"
    *ngIf="splashService.configInited && role === roles.client"
  ></app-footer>
</main>
