<main class="container">
  <div class="screen-holder" id="screen-holder">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="'30'">
    </mat-progress-spinner>
    <p class="mat-body-2" style="color: white">Lütfen bekleyiniz...</p>
  </div>
  <div class="splash-spinner" *ngIf="!splashService.configInited">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="'30'">
    </mat-progress-spinner>
    <br />
    <p class="mat-body-2">Sayfa yükleniyor. Lütfen bekleyiniz...</p>
  </div>

  <mat-progress-bar *ngIf="navigationProgress" class="nav-progress" mode="indeterminate"></mat-progress-bar>

  <app-header class="header" *ngIf="splashService.configInited"></app-header>
  <div class="main" *ngIf="splashService.configInited">
    <router-outlet (activate)="scrollToTop()"></router-outlet>
  </div>
  <app-footer class="footer" *ngIf="splashService.configInited"></app-footer>
</main>
