.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.main {
  margin: 0 auto;
  flex: 1;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
}

.footer {
  margin-top: 40px;
}
