<form *ngIf="form" [formGroup]="form" (ngSubmit)="update()" class="form">
  <mat-form-field appearance="outline" class="field">
    <mat-label>Şifreniz</mat-label>
    <input type="password" matInput formControlName="password" />
    <mat-error
      *ngIf="(form.get('password').hasError('required') || form.get('password').hasError('isNull')) && form.get('password').touched"
    >
      *Zorunlu Alan
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>Yeni Şifre</mat-label>
    <input type="password" matInput formControlName="newPassword" />
    <mat-error
      *ngIf="(form.get('newPassword').hasError('required') || form.get('newPassword').hasError('isNull')) && form.get('newPassword').touched"
    >
      *Zorunlu Alan
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>Yeni Şifre Tekrar</mat-label>
    <input type="password" matInput formControlName="confirmPassword" />
    <mat-error
      *ngIf="form.get('confirmPassword').hasError('isMatching') && form.get('confirmPassword').touched"
    >
      *Şifreniz eşleşmiyor
    </mat-error>
  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="form.invalid" color="primary">Güncelle</button>
</form>
