.container {
  margin: 0 auto;
  width: 80%;
  /* max-width: 900px; */
  display: flex;
}

.categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  box-sizing: border-box;
}

.close-icon {
  cursor: pointer;
}

.add-category {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.input {
  height: 26px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid rgb(238, 238, 238);
  padding: 5px 10px;
  outline: none;
}
