<span [ngSwitch]="true">
  <ng-container *ngSwitchCase="DialogType.Confirm === data.type">
    <app-confirm-dialog [dialog]="data"></app-confirm-dialog>
  </ng-container>
  <ng-container *ngSwitchCase="DialogType.Message === data.type">
    <mat-dialog-content class="mat-body-1 message"> {{data.desc}} </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="primary" [mat-dialog-close]="true">{{data.acceptButton}}</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-container *ngSwitchCase="DialogType.CartWarning === data.type">
    <app-cart-warning [dialog]="data"></app-cart-warning>
  </ng-container>
  <ng-container
    *ngSwitchCase="DialogType.SalesAndInformationContract === data.type || DialogType.RegisterContract === data.type"
  >
    <app-contracts-dialog [dialog]="data"></app-contracts-dialog>
  </ng-container>
  <ng-container *ngSwitchCase="DialogType.Rating === data.type">
    <app-rating-dialog [dialog]="data"></app-rating-dialog>
  </ng-container>
</span>
